<!doctype html>
<html>

<head>


    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>BizOpt</title>
    <!-- <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/css/uikit.min.css" />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <style>
        input{
            border-radius: 5px!important;
        }

        #regForm {
            margin: 0px auto;
            padding: 40px;
            border-radius: 10px;
        }

        .tab {
            display: none;
        }

        #prevBtn {
            background-color: #bbbbbb;
        }

        .all-steps {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            margin: 30px auto;
            width: 50%;
            height: 5px;
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-radius: 20px;
        }

        .all-steps::after {
            border-radius: 200px;
            background-color: rgb(50, 50, 255);
            content: '\A';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: var(--width-nonstatic);
            z-index: -1;
        }

        .step {
            height: 20px;
            width: 20px;
            margin: 0px;
            background-color: #bbbbbb;
            border: 2px solid;
            border-color: #bbbbbb;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            opacity: 1;
            transition: 0.2s;
        }
    </style>
</head>

<body>
    <div>
        <div>
            <div>
                <div class="all-steps" id="all-steps">
                    <a class="step" onclick="surTab(0)"></a>
                    <a class="step" onclick="surTab(1)"></a>
                    <a class="step" onclick="surTab(2)"></a>
                    <a class="step" onclick="surTab(3)"></a>
                    <!-- <a class="step" onclick="surTab(4)"></a> -->
                </div>
                <form id="regForm" class="uk-width-4-5" action="/signin/" method="POST">

                    <div class="tab">
                        <h2 class="uk-text-center">Главная информация</h2>
                        <h4 class="uk-text-center">Запомните введеные поля, они понадобяться вам для входа в аккаунт
                        </h4>
                        <br>
                        <div class="uk-width-3-5 uk-flex uk-flex-center" style="margin: 5px auto">
                            <div style="display: inline-block; margin: 0 10px" class="uk-width-2-3 uk-text-center">
                                {{form.username.label}}: <br> {{form.username}}
                            </div>
                            <div style="display: inline-block; margin: 0 10px" class="uk-width-2-3 uk-text-center">
                                {{form.email.label}}: <br> {{form.email}}
                            </div>
                        </div>
                        <br>
                        <div class="uk-width-3-5 uk-flex uk-flex-center" style="margin: 5px auto">
                            <div style="display: inline-block; margin: 0 10px" class="uk-width-2-3 uk-text-center">
                                {{form.first_name.label}}: <br> {{form.first_name}}
                            </div>
                            <div style="display: inline-block; margin: 0 10px" class="uk-width-2-3 uk-text-center">
                                {{form.last_name.label}}: <br> {{form.last_name}}
                            </div>
                        </div>
                        <br>
                        <div class="uk-width-3-5 uk-flex uk-flex-center" style="margin: 5px auto">
                            <div style="display: inline-block; margin: 0 10px" class="uk-width-2-3 uk-text-center">
                                {{form.password1.label}}: <br> {{form.password1}}
                            </div>
                            <div style="display: inline-block; margin: 0 10px" class="uk-width-2-3 uk-text-center">
                                {{form.password2.label}}: <br> {{form.password2}}
                            </div>
                        </div>
                        <br>
                        <div class="uk-width-3-5 uk-flex uk-flex-center" style="margin: 5px auto">
                            <div style="display: inline-block; margin: 0 10px" class="uk-width-2-3 uk-text-center">
                                {{form.phone.label}}: <br> {{form.phone}}
                            </div>
                            <div style="display: inline-block; margin: 0 10px" class="uk-width-2-3 uk-text-center">
                                {{form.city.label}}: <br> {{form.city}}
                            </div>
                        </div>

                    </div>

                    <!-- <div class="tab">
                        <h2 class="uk-text-center">Название магазина</h2>
                        <h4 class="uk-text-center">Выбери уникальное название магазина, который отражает твой стиль</h4>
                        <br>
                        <div style="text-align:center">
                            <div uk-form-custom="target: true" class="uk-width-1-2">
                                <input class="uk-input uk-width-1" type="text" placeholder="Введит еназвание">
                            </div>
                            <button class="uk-button uk-button-default" style="font-size: 13px">Проверить на
                                уникальность</button>
                        </div>
                    </div> -->

                    <div class="tab">
                        <h2 class="uk-text-center">Юредические данные</h2>
                        <h4 class="uk-text-center">Введите данные</h4>
                        <br>
                        <div class="uk-width-3-5 uk-flex uk-flex-between" style="margin: 0 auto">
                            <div style="display: inline-block; margin: 0 10px" class="uk-width-1-3">
                                <label> Тип </label>
                                <br>
                                <select class="uk-select">
                                    <option value="ООО">ООО</option>
                                    <option value="ИП">ИП</option>
                                    <option value="Самозанятый">Самозанятый</option>
                                    <option value="Физлицо">Физлицо</option>
                                </select>
                            </div>
                            <div style="display: inline-block; margin: 0 10px" class="uk-width-1-2">
                                {{form.name_small.label}}: {{form.name_small}}
                            </div>
                            <div style="display: inline-block; margin: 0 10px" class="uk-width-1-2">
                                {{form.nameFull.label}}: {{form.nameFull}}
                            </div>
                        </div>

                        <br>

                        <div class="uk-width-3-5 uk-flex uk-flex-between" style="margin: 0 auto">
                            <div style="display: inline-block; margin: 0 10px" class="uk-width-1-4">
                                {{form.ogrn.label}}: {{form.ogrn}}
                            </div>
                            <div style="display: inline-block; margin: 0 10px" class="uk-width-1-4">
                                {{form.inn.label}}: {{form.inn}}
                            </div>
                            <div style="display: inline-block; margin: 0 10px" class="uk-width-1-4">
                                {{form.kpp.label}}: {{form.kpp}}
                            </div>
                        </div>

                        <br>

                        <div class="uk-width-3-5 uk-flex uk-flex-between" style="margin: 0 auto">
                            <div style="display: inline-block; margin: 0 10px" class="uk-width-1">
                                {{form.street.label}}: {{form.street}}
                            </div>
                        </div>

                        <br>

                        <div class="uk-width-3-5 uk-flex uk-flex-between" style="margin: 0 auto">
                            <div style="display: inline-block; margin: 0 10px" class="uk-width-3-5">
                                {{form.fiz_adress.label}}: {{form.fiz_adress}}
                            </div>
                            <div style="display: inline-block; margin: 0 10px" class="uk-width-1-3">
                                {{form.index.label}}: {{form.index}}
                            </div>
                        </div>


                    </div>

                    <div class="tab">
                        <h2 class="uk-text-center">Оплата</h2>
                        <h4 class="uk-text-center">Введите данные для оплаты</h4>
                        <br>
                        <div class="uk-width-1-1 uk-flex uk-flex-center">
                            <div style="display: inline-block; margin: 10px" class="uk-width-1-4">
                                {{form.payment_account.label}}: {{form.payment_account}}
                            </div>
                            <div style="display: inline-block; margin: 10px" class="uk-width-1-4">
                                {{form.reg_form.label}}: {{form.reg_form}}
                            </div>
                        </div>
                        <div class="uk-width-1-1 uk-flex uk-flex-center">
                            <div style="display: inline-block; margin: 10px" class="uk-width-1-4">
                                {{form.bik.label}}: {{form.bik}}

                            </div>
                            <div style="display: inline-block; margin: 10px" class="uk-width-1-4">
                                {{form.korr_check.label}}: {{form.korr_check}}

                            </div>
                        </div>
                    </div>

                    <div class="tab">
                        <h2 class="uk-text-center">Подтвердите почту</h2>
                        <h4 class="uk-text-center">Выбери уникальное название магазина, который отражает твой стиль</h4>
                        <br>
                        <div class="uk-width-4-5 uk-flex uk-flex-center" style="margin: 0 auto">
                            <div style="display: inline-block; margin: 0 10px; border: 1px solid; padding: 5%;"
                                class="uk-width-4-5 uk-border-rounded">
                                <p>На вашу почту пришло письмо для подтверждения </p>
                                <p>перед тем как продолжить создание магазина</p>
                                <button class="uk-button uk-button-default uk-margin-small-bottom"
                                    style="text-transform: none;background-color: #e4e4e4">Отправить еще раз</button>
                                <br>
                                <button class="uk-button uk-button-text" style="text-transform: none;">Изменить
                                    почту</button>
                                <div class="uk-width-4-5 uk-flex uk-flex-center" style="margin: 5px auto">
                                    <div style="display: inline-block; margin: 0 10px" class="uk-width-1-2 uk-text-center">
                                        {{form.checking_account.label}}: <br> {{form.checking_account}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div style="overflow:auto;" id="next-previous">
                        <div style="float:right;">
                            <button class="uk-button uk-button-default" type="button" id="prevBtn"
                                onclick="nextPrev(-1)">
                                Назад
                            </button>
                            {% csrf_token %}
                            <button class="uk-button uk-button-default" type="button" id="nextBtn"
                                onclick="nextPrev(1)">
                                Далее
                            </button>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
<!-- <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script> -->

<script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit-icons.min.js"></script>
<script>
    let currentTab = 0;
    let progressBar = document.querySelector(".all-steps");
    document.addEventListener("DOMContentLoaded", function (event) {
        progressBar.style.setProperty("--width-nonstatic", '20%');
        showTab(currentTab);
    });

    function showTab(n) {
        let x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        if (n === 0) {
            document.getElementById("prevBtn").style.display = "none";
        } else {
            document.getElementById("prevBtn").style.display = "inline";
        }
        if (n === (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "Далее";
        } else {
            document.getElementById("nextBtn").innerHTML = "Далее";
        }
        fixStepIndicator(n)
    }

    function nextPrev(n) {
        let x = document.getElementsByClassName("tab");
        x[currentTab].style.display = "none";
        currentTab = currentTab + n;
        if (currentTab === x.length) {
            document.getElementById('nextBtn').type = "submit"
        }
        showTab(currentTab);
    }

    function surTab(n) {
        let x = document.getElementsByClassName("tab");
        x[currentTab].style.display = "none";
        currentTab = n;
        showTab(currentTab);
    }

    function fixStepIndicator(n) {
        let i, x = document.getElementsByClassName("step");

        if (n != x.length - 1) {
            progressBar.style.setProperty("--width-nonstatic", `${(n+1) * 25}%`);
        } else {
            progressBar.style.setProperty("--width-nonstatic", "100%");
        }

        x[n].style.backgroundColor = '#ffa500';
        x[n].style.borderColor = '#ffa500';
        //color for n

        for (i = 0; i < n; i++) { // color for every before n
            x[i].style.backgroundColor = '#ffffff';
            x[i].style.borderColor = '#2652bf';
        }

        for (i = n + 1; i < x.length; i++) { // color for every after n
            x[i].style.backgroundColor = '#bbbbbb';
            x[i].style.borderColor = '#bbbbbb';
        }
    }
</script>

</html>