<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Начало</title>
</head>
<body>
{% include 'menu.html' %}

<h1>Это главная страница</h1>
Вы {{pers.desc}} по имени {{pers.name}} в возрасте {{pers.age}} лет
<hr><hr>
Пользователи:

{% for i in users %}
    <form action="/" method="post">
         {% csrf_token %}
        <input type="hidden" name="name" value = "{{i.name}}">
        <input type="hidden" name="desc" value = "{{i.desc}}">
        <input type="hidden" name="age"  value = "{{i.age}}">
        <input type="submit" value="{{i.name}}">
    </form>
{% endfor %}


</body>
</html>