<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.10/dist/css/uikit.min.css" />

<style>
    
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

    P {
        font-family: 'Montserrat';
        color: black;
    }
    label {
        font-family: 'Montserrat';
        color: black;
        padding: 12px 12px;
    }



</style>
<div style="width: 90%; margin: auto; margin-top: 5%;">
    <div class="uk-margin-large-left">
    <p style="font-weight: 600; font-size: 3em; margin: 0;" class="uk-margin-bottom">Выберете способ доставки</p>
    <div class="uk-flex" style="width: 100%">
        <div style="border: solid black 2px; border-radius: 5em; width: 30%" class="uk-margin-right">
            <label style="font-weight: 600; font-size: 2em; margin: auto;" class="uk-text-middle">
                <input class="uk-radio" type="radio" name="radio1" style="background-color: black;">
                <span>Pony Express</span>
            </label> 
        </div>
        <div style="border: solid black 2px; border-radius: 5em; width: 30%"  >
            <label style="font-weight: 600; font-size: 2em;" class="uk-text-middle">
                <input class="uk-radio" type="radio" name="radio1" style="background-color: black;">
                <span>Яндекс Доставка</span>
            </label> 
        </div>
    </div>    
    <div class="uk-flex uk-margin-top">
        <div style="border: solid black 2px; border-radius: 5em; width: 20%" class="uk-margin-right" >
            <label style="font-weight: 600; font-size: 2em;" class="uk-text-middle">
                <input class="uk-radio" type="radio" name="radio1" style="background-color: black;">
                <span>Достависта</span>
            </label> 
        </div>
        <div style="border: solid black 2px; border-radius: 5em; width: 20%"  >
            <label style="font-weight: 600; font-size: 2em;" class="uk-text-middle">
                <input class="uk-radio" type="radio" name="radio1" style="background-color: black; ">
                <span>СДЭК</span>
            </label> 
        </div>
    </div>
    <p style="font-weight: 600; font-size: 3em; margin: 0;" class="uk-margin-bottom uk-margin-top">Заполните поля</p>
    <div style="width: 30%">
        <div class="uk-margin-bottom">
            <input style="border: solid black 2px; border-radius: 5em;" class="uk-input">
        </div>
        <div class="uk-margin-bottom"> 
            <input style="border: solid black 2px; border-radius: 5em;" class="uk-input">
        </div>
        <div class="uk-margin-large-bottom">
            <input style="border: solid black 2px; border-radius: 5em;" class="uk-input">
        </div>
    </div>
    <button class="uk-button uk-button-secondary uk-border-pill " style="width: 30%">Добавить</button>
</div>
</div>