<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-8">
        <form id="regForm" method="POST">
            <h1 class="mb-5">Мои данные</h1>

            <!-- start of bloc 1 -->
            <div class="tab" style="display: block;">
                <label class="labels">Имя</label>
                <input type="text" class="form-control" name="my_first_name" id="">
                <br>
                <label class="labels">Фамилия</label>
                <input type="text" class="form-control" name="my_last_name" id="">
                <br>
                <label class="labels">Почта</label>
                <input type="text" class="form-control" name="my_email" id="">
                <br>
            </div>
            <!-- end of bloc 1 -->

            {% csrf_token %}

            <div class="row mt-3">
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="submit" name="partner">Сохранить</button>
                </div>
            </div>

        </form>
    </div>
</div>