<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-8">
        <form id="regForm" method="POST" action="" enctype="multipart/form-data">
            <h1 class="mb-5">Создать товар</h1>

            <!-- start of bloc 1 -->
            <div class="tab" style="display: block;">
                <label>Название товара</label>
                <div class="input-group mt-2 mb-2">
                    {{ form8.product_name }}
                </div>
                <br>
                <br>
                <label>Страна производитель</label> {{ form8.country }}
                <div class="input-group mt-2 mb-2">
                </div>
                <br>
                <br>
                <label>Бренд</label>
                <div class="input-group mt-2 mb-2">
                    {{ form8.brand }}
                </div>
                <br>
                <br>
                <label>Коплектация товара</label>
                <div class="input-group mt-2 mb-2">
                    <input type="text" id="inputvalue" class="form-control changible">
                    <button class="btn btn-outline-secondary" id="btnAdd" name="addComplect" onclick="addInput(this)"
                        type="button"><i class="fa fa-plus"></i></button>
                    <br>
                </div>
                <!-- template start -->
                <div id="inputDiv" class="col-md-12">
                </div>
                <br>
                <br>
                <!-- template end -->
            </div>
            <!-- end of bloc 1 -->

            <!-- sart of block 2 -->
            <div class="tab" style="display: none">
                <label>Цена</label>
                <div class=" input-group mb-3 ">
                    {{ form8.price }}
                    <span class="input-group-text ">.00</span>
                </div>
                <table class="uk-table uk-table-justify uk-table-divider" id="pricing">
                    <thead>
                        <tr>
                            <th class="uk-width-auto">Комплектация</th>
                            <th class="uk-width-auto">Бренд</th>
                            <th class="uk-width-auto">Цена</th>
                        </tr>
                    </thead>
                    <tbody id="table">
                        <!-- <tr class="tcomplectations">
                            <th scope="row">Комплектация</th>
                        </tr>
                        <tr class="tbrend">
                            <th scope="row">Бренд</th>
                        </tr>
                        <tr class="tprice">
                            <th scope="row">Код</th>
                            <td>@twitter</td>
                        </tr> -->
                    </tbody>
                        
                </table>
            </div>
            <!-- end of block 2 -->


            <!-- sart of block 3 -->
            <div class="tab" style="display: none">

                <h2>Описание</h2>

                {{ form8.description }}

                <label>Ключевые слова</label>
                <div class="input-group mt-2 mb-2">
                    <input type="text" id="keyValue" class="form-control changible">
                    <button class="btn btn-outline-secondary" id="btnAddkey" name="addkey" onclick="addKey(this)"
                        type="button"><i class="fa fa-plus"></i></button>
                </div>
                <div id="keyDiv"></div>
                <br>
                <!--         IMAGE       -->

                <div class="row mt-3 mb-3">
                    <div class="col-md-8">
                        <label class="labels">Загрузить фото</label>
                        <input id="fileupload" class="form-control" name="product_photos" type="file" />
                    </div>
                </div>
                <br>
                <!--         IMAGE END      -->

                <label>Дополнительная информация о товаре</label>
                <button class="btn btn-outline-secondary" onclick="showExtraInputs()" type="button">
                    <i class="fa fa-arrow-down"></i>
                </button>
                <br>
                <br>



                <div id="extraInputs" class="d-none">
                    <label>Размер товара <b>(см)</b></label>
                    <div class="input-group mt-2 mb-2">
                        <span class="input-group-text">высота</span>
                        {{ form8.height_product }}
                        <span class="input-group-text">длина</span>
                        {{ form8.length_product }}
                        <span class="input-group-text">ширина</span>
                        {{ form8.width_product }}
                        <br>
                    </div>
                    <label>Размер упаковки <b>(см)</b></label>
                    <div class="input-group mt-2 mb-2">
                        <span class="input-group-text">высота</span>
                        {{ form8.height_packaging }}
                        <span class="input-group-text">длина</span>
                        {{ form8.length_packaging }}
                        <span class="input-group-text">ширина</span>
                        {{ form8.width_packaging }}
                        <br>
                    </div>
                </div>
            </div>
            {% csrf_token %}

            <span>{{error}}</span>

            <!-- end of block 3 -->

            <div style="overflow:auto;" id="next-previous">
                <div style="float:right;">
                    <button type="button" id="prevBtn"
                        style="display: none; border-radius: 1000px; text-align:center; width: 50px; height: 50px; padding: 0;"
                        class="uk-button" onclick="nextPrev(-1)">
                        <i class="fa fa-angle-double-left"></i>
                    </button>
                    <button name="product_creator" type="button" id="nextBtn"
                        style="border-radius: 1000px; text-align:center; width: 50px; height: 50px; padding: 0;"
                        class="uk-button uk-button-primary" onclick="nextPrev(1)">
                        <i class="fa fa-angle-double-right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function submitForm() {
        var http = new XMLHttpRequest();
        http.open("POST", "<<whereverTheFormIsGoing>>", true);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var params = "search=" + document.get; // probably use document.getElementById(...).value
        http.send(params);
        http.onload = function () {
            alert(http.responseText);
        }
    }
</script>
<script>
    var inputnum = 0,
        keynum = 0,
        currentTab = 0;

    function recalc(el){
        let price = parseInt(document.getElementById('priceInput').value);
        let form = document.getElementById('final_price');
        form.innerHTML = price + price*0.1;
    }
    
    function addComplectation() {
        let arr = document.getElementsByClassName('complectations');
        let brand = document.getElementById('brand').value;
        let form = document.getElementById('table')
        for (let i = 0; i < arr.length; ++i){
            // let text = document.createTextNode(arr[i].innerHTML);
            let table = document.getElementById('table');
            let table_values = table.insertRow(-1).insertCell(0)
            let newText = document.createTextNode(arr[i].value);
            console.log(newText)
            table_values.appendChild(newText);
            if (i == 0){
                form.children[0].innerHTML += `<td> ${brand} </td> <td id="final_price">  </td>`;
            }
            document.getElementsByTagName('td')[i].className += 'uk-text-truncate'
        }
    }

    function addInput(el) {
        let input = el.parentElement.getElementsByTagName("input")[0];
        if (inputnum < 15 && input.value) {
            input.removeAttribute("disabled");
            input.placeholder = "";
            let value = document.getElementById('inputvalue').value;
            var $inputGroup =
                `<div class="input-group mt-2 mb-2 w-75"> <button class="btn btn-outline-secondary" onclick="removeInput(this, 1)" type="button"><i class="fa fa-minus"></i></button> <input type="text" class="form-control complectations" name="set_${inputnum}" value="${value}"> </div>`;
            // <button class="btn btn-outline-secondary" onclick="changeInput(this)" type="button"><span class="material-icons"> mode_edit </span></button>
            document.getElementById("inputDiv").insertAdjacentHTML("afterbegin", $inputGroup);
            input.value = "";
            inputnum++;
        } else if (inputnum >= 15) {
            input.value = "";
            input.setAttribute("disabled", "disabled");
            input.placeholder = "Простите, но вы ввели максимальное количество комплектаций";
        } else {
            input.placeholder = "Для добавления элемента необходимо заполнить это поле";
        }
    }

    function removeInput(el, arg) {
        let mainInput = el.parentElement.parentElement.parentElement.getElementsByClassName("changible")[0];
        arg ? inputnum-- : keynum--;
        if (inputnum < 15 || keynum < 15) {
            mainInput.removeAttribute("disabled");
            mainInput.placeholder = "";
        }
        el.parentElement.remove();
    }

    function changeInput(el) {
        let inputPole = el.parentElement.getElementsByTagName("input")[0];
        let BtnImage = el.parentElement.getElementsByTagName("span")[0];
        inputPole.placeholder = "";
        if (inputPole.value) {
            if (inputPole.disabled) {
                BtnImage.innerHTML = "edit_off"
            } else {
                inputPole.value = inputPole.value
                BtnImage.innerHTML = "mode_edit";
            }
            inputPole.disabled ? inputPole.removeAttribute("disabled") : inputPole.setAttribute("disabled", "disabled");
        } else {
            inputPole.placeholder = "Заполните это поле или удалите его";
        }
    }

    function addKey(el) {
        let key = el.parentElement.getElementsByTagName("input")[0];
        key.placeholder = "";
        if (keynum < 15 && key.value) {
            let value = document.getElementById('keyValue').value
            var $inputGroup =
                `<div class="input-group mt-2 mb-2 w-75"> <button class="btn btn-outline-secondary" onclick="removeInput(this, 0)" type="button"><i class="fa fa-minus"></i></button> <input type="text" class="form-control complectations" name="set_${keynum}" value="${value}"> </div>`;
                // '<div class="input-group mt-2 mb-2 w-75"> <button class="btn btn-outline-secondary" onclick="removeInput(this, 0)" type="button"><i class="fa fa-minus"></i></button> <p name="key_${keynum}" class="form-control" value="${value}"></p> </div>'
                
            // <button class="btn btn-outline-secondary" onclick="changeInput(this)" type="button"><span class="material-icons"> mode_edit </span>
            document.getElementById("keyDiv").insertAdjacentHTML("afterbegin", $inputGroup);
            key.value = "";
            keynum++;
        } else if (keynum >= 15) {
            input.value = "";
            key.setAttribute("disabled", "disabled");
            key.placeholder = "Простите, но вы ввели максимальное количество ключевых слов";
        } else {
            key.placeholder = "Для добавления элемента необходимо заполнить это поле";
        }
    }

    function showExtraInputs() {
        let extrInput = document.getElementById('extraInputs');
        extrInput.className == "d-none" ? extrInput.className = "" : extrInput.className = "d-none";

    }

    document.addEventListener("DOMContentLoaded", function (event) {
        showTab(currentTab);
    });

    function showTab(n) {
        let x = document.getElementsByClassName("tab");
        try {
            x[n].style.display = "block";
            if (n === 0) {
                document.getElementById("prevBtn").style.display = "none";
            } else if(n === 1){
                addComplectation()
                document.getElementById("prevBtn").style.display = "inline";
            } 
            else {
                document.getElementById("prevBtn").style.display = "inline";
            }
            fixStepIndicator(n)
        } catch {}
    }

    function nextPrev(n) {
        let x = document.getElementsByClassName("tab");
        try {
            x[currentTab].style.display = "none";
            currentTab = currentTab + n;
            if (currentTab === x.length) {
                document.getElementById('nextBtn').type = "submit"
                document.getElementById('next-previous').classList.add("redirect");
            }
            showTab(currentTab);
        } catch {}
    }

    function fixStepIndicator(n) {
        let i, x = document.getElementsByClassName("step");
        for (i = 0; i <
            x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        }
    }
</script>