
<div class="d-flex flex-row">
    <h1 style="margin: auto">Заказы в работе</h1>

    <a class="btn btn-primary Btnn" role="button" style="margin: auto">Создать задачу</a>
</div>
<div class="center">

    <div class="col-sm-9 scrollspy-example" style="margin: auto">
        <div class="container">
            <table class="table table-fixed col-sm-9 scrollspy-example" data-spy="scroll" data-target="#spy">
                <thead>
                    <tr>
                        <th class="col-xs-3">ID</th>
                        <th class="col-xs-3">Название задачи</th>
                        <th class="col-xs-3">Кол-во шт товара</th>
                        <th class="col-xs-3">Заказчик</th>
                        <th class="col-xs-3">Дедлайн</th>
                        <th class="col-xs-6">Статус</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td class="col-xs-3">{{ product.id }}</td>
                        <td class="col-xs-3">{{ product.product_name }}</td>
                        <td class="col-xs-6">1</td>
                        <td class="col-xs-3">{{ product.customer }}</td>
                        <td class="col-xs-3">2021-05-23</td>
                        <th class="col-xs-6">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>{{ product.status2 }}</option>
                                <option value="1">В работе</option>
                                <option value="3">Сделано</option>
                            </select>
                        </th>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <button type="button" class="btn btn-secondary button button">Сохранить</button>

    <div class="d-flex flex-row" style="margin-top: 20px">

        <div class="shadow-none p-3 mb-5 bg-light rounded" style="width: 45%; margin: auto">
            <h1>Отзывы</h1>
            <div class="col-sm-8 scrollspy-example shadow p-3 mb-5 bg-body rounded" style="margin: auto">


                <div class="d-flex flex-row" style="padding-bottom: 10px;">

                    <img src="https://cdn130.picsart.com/356259745047201.jpg" alt="" width="70" height="58" class="d-inline-block align-text-top">
                    <div style="width: 100%; height: auto">
                        <h4 style="margin-left: 5%"> User Name</h4>
                        <div style="margin-left: 5%">
                            <i class="fa-solid fa-star colorStarTrue"></i>
                            <i class="fa-solid fa-star colorStarTrue"></i>
                            <i class="fa-solid fa-star colorStarTrue"></i>
                            <i class="fa-solid fa-star colorStarTrue"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>

                </div>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta fugit minus optio alias dolorum sapiente, facere iusto recusandae quo amet, asperiores deserunt, doloribus atque dolore saepe neque perspiciatis reprehenderit doloremque!
                </p>
                <style>
                    .colorStarTrue {

                        font-weight: 900;
                        color: #f8ce0b;
                    }

                </style>
            </div>
        </div>

        <div class="shadow-none p-3 mb-5 bg-light rounded" style="width: 45%; margin: auto">
            <h1>Запросы</h1>
            <div class="col-sm-12 scrollspy-example shadow p-3 mb-5 bg-body rounded " style="margin: auto">
                <h1></h1>
                <div class="container">
                    <table class="table table-fixed col-sm-9 scrollspy-example" data-spy="scroll" data-target="#spy">
                        <thead>
                            <tr>
                                <th class="col-xs-3">ID Запроса</th>
                                <th class="col-xs-3">Название Товара</th>
                                <th class="col-xs-3">Заказчик</th>
                                <th class="col-xs-3">Статус</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products_v %}
                    <tr>
                        <td class="col-xs-3">{{ product.id }}</td>
                        <td class="col-xs-3">{{ product.product_name }}</td>
                        <td class="col-xs-3">{{ product.id_user_buy }}</td>
                        <td class="col-xs-3"><button type="button" class="btn btn-secondary btn-sm">Согласиться</button></td>
                    </tr>
                    {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<style>
    .scrollspy-example {
        position: relative;
        height: 350px;
        overflow: auto;
    }

    .table-fixed {
        width: 100%;
        background-color: #f3f3f3;

    }

    .center {
        width: 100%;
        height: auto;
    }


    .img {
        height: 50px;
        width: 50px;
        background-color: aqua;
    }

    .button {
        width: 71.5%;
        margin-left: 13.5%;
        margin-top: 1%;

    }

</style>
