{% if user.is_authenticated %}
<div class="uk-flex uk-flex-between uk-flex-middle"
    style="padding: 2% 0; background-color:rgba(255, 255, 255, 0.9); font-size: 20px;">
    <div class="uk-flex uk-flex-left uk-width-1-5">
        <a href="#main-menuL" uk-toggle style="margin-right: 10%;">
            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <rect x="2" y="4" width="20" height="1"></rect>
                <rect x="2" y="9" width="20" height="1"></rect>
                <rect x="2" y="14" width="20" height="1"></rect>
            </svg>
        </a>
        <p style="margin: 0px"> Регион <b>Москва</b></p>
    </div>

    <a href="/partners/" class="uk-button uk-button-text" style="text-transform: none; font-size: 20px;">Стать
        партнером</a>
</div>
<div style="width: 100%; border-top: 2px solid; border-radius: 20px;"></div>
<div>
    <nav class="uk-navbar-container uk-flex uk-flex-middle uk-flex-betwee" uk-navbar
        style="background: rgba(255, 255, 255, 0.9); border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">
        <div class="uk-navbar-left uk-width-3-5">
            <ul class="uk-navbar-nav uk-width-1 uk-flex uk-flex-between">
    
                <li class="uk-active uk-width-1-4 uk-margin-small-left uk-margin-small-top">
                    <a href="/" class="uk-width-expand uk-padding-remove uk-flex uk-flex-middle">
                        <img src="../../../media/logoImage/logo.svg" alt="" class="uk-width-1-5" height="100">
                        <img src="../../../media/logoImage/logo_text.svg" alt="" class="uk-width-4-5" height="100">
                    </a>
                </li>
    
                <li class="uk-active uk-flex uk-flex-middle uk-flex-center uk-width-3-4">
                    <a href="/creators/resumes/" style="font-size: 25px; text-transform: none;">Бренды</a>
                    <div class="uk-divider-vertical uk-margin-remove"
                        style="height: 50%; background-color: black; width: 2px"></div>
                    <a href="/creators/goods/" style="font-size: 25px; text-transform: none;">Магазин</a>
                </li>
    
            </ul>
        </div>
        <div class="uk-navbar-right uk-flex uk-flex-middle uk-flex-right uk-width-2-5">
            <div class="uk-search uk-search-default uk-width-expand">
                <a type="submit" href="" id="searchBtn" uk-search-icon></a>
                <input class="uk-search-input uk-border-rounded" type="search" placeholder="Search" id="search_pole">
            </div>

            <ul class="uk-navbar-nav uk-width-auto">
                {% if user.is_partner %}
                <li class="uk-active">
                    <a href="/becomeCreator/" uk-icon="icon: bag"></a>
                </li>
                {% endif %}
                <li class="uk-active">
                    <a href="/orders/" uk-icon="icon: cart"></a>
                </li>
                <li class="uk-active">
                    <a uk-icon="icon: user"></a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li>
                                <p>{{user.email}}</p>
                            </li>
                            <li class="uk-nav-divider"></li>
                            <li class="uk-active"><a href="/edit/">Настройки профиля</a></li>
                            <!-- <li class="uk-active"><a href="/chats">Чаты</a></li> -->
                            <li class="uk-active"><a href="/logout/">Выйти</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
{% else %}
<div class="uk-flex uk-flex-between uk-flex-middle"
    style="padding: 2% 0; background-color:rgba(255, 255, 255, 0.9); font-size: 20px;">
    <div class="uk-flex uk-flex-left uk-width-1-5">
        <a href="#main-menuL" uk-toggle style="margin-right: 10%;">
            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <rect x="2" y="4" width="20" height="1"></rect>
                <rect x="2" y="9" width="20" height="1"></rect>
                <rect x="2" y="14" width="20" height="1"></rect>
            </svg>
        </a>
        <p style="margin: 0px"> Регион <b>Москва</b></p>
    </div>
    <a href="/login/" class="uk-button uk-button-text" style="text-transform: none; font-size: 20px;">Стать
        партнером</a>
</div>
<div style="width: 100%; border-top: 2px solid"></div>
<nav class="uk-navbar-container" uk-navbar
    style="background: rgba(255, 255, 255, 0.9); border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">
    <div class="uk-navbar-left uk-width-3-5">
        <ul class="uk-navbar-nav uk-width-1 uk-flex uk-flex-between">

            <li class="uk-active uk-width-1-4 uk-margin-small-left uk-margin-small-top">
                <a href="/" class="uk-width-expand uk-padding-remove uk-flex uk-flex-middle">
                    <img src="../../../media/logoImage/logo.svg" alt="" class="uk-width-1-5" height="100">
                    <img src="../../../media/logoImage/logo_text.svg" alt="" class="uk-width-4-5" height="100">
                </a>
            </li>

            <li class="uk-active uk-flex uk-flex-middle uk-flex-center uk-width-3-4">
                <a href="/creators/resumes/" style="font-size: 25px; text-transform: none;">Бренды</a>
                <div class="uk-divider-vertical uk-margin-remove"
                    style="height: 50%; background-color: black; width: 2px"></div>
                <a href="/creators/goods/" style="font-size: 25px; text-transform: none;">Магазин</a>
            </li>

        </ul>
    </div>

    <div class="uk-navbar-right uk-flex uk-flex-middle uk-flex-right uk-width-2-5">
        <div class="uk-search uk-search-default uk-width-expand">
            <a type="submit" href="" id="searchBtn" uk-search-icon></a>
            <input class="uk-search-input uk-border-rounded" type="search" placeholder="Search" id="search_pole">
        </div>
        <ul class="uk-navbar-nav uk-width-auto">
            <li class="uk-active">
                <a href="/login/" uk-icon="icon: cart"></a>

            </li>
            <li class="uk-active">
                <a href="/login/" uk-icon="icon: user"></a>
            </li>
        </ul>
    </div>
</nav>
{% endif %}
<!-- start of main-menuL -->
<div id="main-menuL" uk-offcanvas>
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-default">
            <li class="uk-active">
                <a href="/creators/goods/category/Одежда" class="uk-button uk-button-text">Одежда </a>
            </li>
            <li class="uk-active">
                <a href="/creators/goods/category/Обувь" class="uk-button uk-button-text">Обувь</a>
            </li>
            <li class="uk-active">
                <a href="/creators/goods/category/Сумки" class="uk-button uk-button-text">Сумки</a>
            </li>
            <li class="uk-active">
                <a href="/creators/goods/category/Интерьер" class="uk-button uk-button-text">Интерьер</a>
            </li>
            <li class="uk-active">
                <a href="/creators/goods/category/Аксессуары" class="uk-button uk-button-text">Аксессуары</a>
            </li>
        </ul>
    </div>
</div>
<!-- end of main-menuL -->