{% if user.is_authenticated %}
<nav class="uk-navbar-container uk-flex uk-flex-middle" uk-navbar
    style="background: rgba(255, 255, 255, 0.9); border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">
    <div class="uk-navbar-left">
        <a class="homeWord" href="/">
            <h2 class="uk-margin-remove uk-text-bold uk-button uk-button-link" style="font-size: 1.5rem;">BeFreela</h2>
        </a>
    </div>
    <div class="uk-navbar-right uk-width-3-5">
        <div class="uk-search uk-search-default uk-width-2-3">
            <a type="submit" href="" id="searchBtn1" uk-search-icon></a>
            <input class="uk-search-input uk-border-rounded" type="search" placeholder="Search" id="search_pole1">
        </div>
    </div>
</nav>
<div style="position: fixed; top: 3%; left: 3%; z-index: 1000;">
    <a class="uk-botton uk-button-link" href="#main-menuS" uk-icon="menu" uk-toggle></a>
</div>
<!-- start of navbar submenu -->
<div id="main-menuS" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

        <ul class="uk-nav uk-nav-primary uk-nav-left uk-margin-auto-vertical">
            <li class="uk-active"><a href="/">
                    <h1 class="uk-button uk-button-default uk-position-top"
                        style="font-size: 2rem; border: none; margin-top: 5%;">BeFreela</h1>
                </a>
            </li>

            <li>
                <div class="uk-width-1 uk-flex uk-flex-middle uk-flex-between">
                    <img src="https://www.visitdubai.com/-/media/gathercontent/article/t/top-rides-at-img-worlds-of-adventure/media/top-rides-at-img-worlds-of-adventure-predator-5.jpg?rev=f1bb54a15add49a09c912eac851f4ff7&cx=0.56&cy=0.4&cw=397&ch=397"
                        width=60 height=60 class="uk-border-circle">
                    <p class="uk-text-truncate" uk-tooltip="{{user.email}}">{{user.email}}</p>
                </div>
                <div class="uk-width-1 uk-flex uk-flex-middle uk-flex-center">
                    {% if user.is_partner %}
                    <a style="margin: 0 5%" uk-tooltip="Партнерка" href="/becomeCreator/"
                        uk-icon="icon: bag"></a>
                    {% endif %}
                    <a style="margin: 0 5%" uk-tooltip="Корзина" href="/orders/" uk-icon="icon: cart"></a>
                </div>
                <br>
                <div class="uk-flex uk-flex-between uk-flex-top">
                    <a style="color: gray" href="/edit/">Настройки профиля</a>
                    <a style="color: gray" href="/logout/">Выйти</a>

                </div>
            </li>

            <li class="uk-nav-divider uk-margin-medium-top uk-margin-medium-bottom"></li>

            <li class="uk-active">
                <a href="/creators/resumes/">
                    <h3 class="uk-button uk-button-link" style="font-size: 1.5rem;">Бренды</h3>
                </a>
            </li>

            <li class="uk-active">
                <a href="/tasks/">
                    <h3 class="uk-button uk-button-link" style="font-size: 1.5rem;">Мастерская</h3>
                </a>
            </li>


            <li class="uk-nav-divider uk-margin-medium-top"></li>

            <li class="uk-parent">
                <ul class="uk-nav uk-nav-default">
                    <li class="uk-active">
                        <a href="/creators/goods/search/Дизайнерская одежда" class="uk-button uk-button-text">Дизайнерская одежда</a>
                    </li>
                    <li class="uk-active">
                        <a href="/creators/goods/search/Дизайнерская обувь" class="uk-button uk-button-text">Дизайнерская обувь</a>
                    </li>
                    <li class="uk-active">
                        <a href="/creators/goods/search/Сумки" class="uk-button uk-button-text">Сумки</a>
                    </li>
                    <li class="uk-active">
                        <a href="/creators/goods/search/Интерьер" class="uk-button uk-button-text">Интерьер</a>
                    </li>
                    <li class="uk-active">
                        <a href="/creators/goods/search/Украшения" class="uk-button uk-button-text">Украшения</a>
                    </li>
                    <li class="uk-active">
                        <a href="/creators/goods/search/Скульптуры" class="uk-button uk-button-text">Скульптуры</a>
                    </li>
                    <li class="uk-active">
                        <a href="/creators/goods/search/Подушки" class="uk-button uk-button-text">Подушки</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="uk-nav uk-nav-secondary uk-nav-left uk-margin-auto-vertical">
            <p style="margin: 0px"> Регион <b>Москва</b></p>
            <a href="partners/" class="uk-button uk-button-text"
                style="text-transform: none; font-size: medium;">Стать
                партнером</a>
        </ul>
    </div>
</div>
<!-- end of navbar submenu -->
{% else %}

<nav class="uk-navbar-container uk-flex uk-flex-middle" uk-navbar
    style="background: rgba(255, 255, 255, 0.9); border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">
    <div class="uk-navbar-left">
        <a class="homeWord" href="/">
            <h2 class="uk-margin-remove uk-text-bold uk-button uk-button-link" style="font-size: 1.5rem;">BeFreela</h2>
        </a>
    </div>
    <div class="uk-navbar-right uk-width-3-5">
        <div class="uk-search uk-search-default uk-width-1">
            <a type="submit" href="" id="searchBtn" uk-search-icon></a>
            <input class="uk-search-input uk-border-rounded" type="search" placeholder="Search" id="search_pole">
        </div>
    </div>
</nav>
<div style="position: fixed; top: 3%; left: 3%; z-index: 1000;">
    <a class="uk-botton uk-button-link" href="#main-menuS" uk-icon="menu" uk-toggle></a>
</div>

<!-- start of navbar submenu -->
<div id="main-menuS" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

        <ul class="uk-nav uk-nav-primary uk-nav-left uk-margin-auto-vertical">
            <li class="uk-active">
                <a href="/">
                    <h1 class="uk-button uk-button-default uk-position-top"
                        style="font-size: 2rem; border: none; margin-top: 5%;">BeFreela</h1>
                </a>
            </li>
            <li>
                <div class="uk-width-1 uk-flex uk-flex-middle uk-flex-between">
                    <img src="https://www.visitdubai.com/-/media/gathercontent/article/t/top-rides-at-img-worlds-of-adventure/media/top-rides-at-img-worlds-of-adventure-predator-5.jpg?rev=f1bb54a15add49a09c912eac851f4ff7&cx=0.56&cy=0.4&cw=397&ch=397"
                        width=60 height=60 class="uk-border-circle">
                    <p class="uk-text-truncate" uk-tooltip="{{user.email}}">{{user.email}}</p>
                </div>
                <div class="uk-width-1 uk-flex uk-flex-middle uk-flex-center">
                    <a style="margin: 0 5%" uk-tooltip="Корзина" href="/login/" uk-icon="icon: cart"></a>
                </div>
            </li>

            <li class="uk-nav-divider uk-margin-medium-top uk-margin-medium-bottom"></li>

            <li class="uk-active"><a href="/creators/resumes/">
                    <h3 class="uk-button uk-button-link" style="font-size: 1.5rem;">Бренды</h3>
                </a>
            </li>
            <li class="uk-active"><a href="/tasks/">
                    <h3 class="uk-button uk-button-link" style="font-size: 1.5rem;">Мастерская</h3>
                </a>
            </li>
            <li class="uk-nav-divider uk-margin-medium-top"></li>
            <li class="uk-parent">
                <ul class="uk-nav uk-nav-default">
                    <li class="uk-active">
                        <a href="/creators/goods/search/Дизайнерская одежда" class="uk-button uk-button-text">Дизайнерская одежда</a>
                    </li>
                    <li class="uk-active">
                        <a href="/creators/goods/search/Дизайнерская обувь" class="uk-button uk-button-text">Дизайнерская обувь</a>
                    </li>
                    <li class="uk-active">
                        <a href="/creators/goods/search/Сумки" class="uk-button uk-button-text">Сумки</a>
                    </li>
                    <li class="uk-active">
                        <a href="/creators/goods/search/Интерьер" class="uk-button uk-button-text">Интерьер</a>
                    </li>
                    <li class="uk-active">
                        <a href="/creators/goods/search/Украшения" class="uk-button uk-button-text">Украшения</a>
                    </li>
                    <li class="uk-active">
                        <a href="/creators/goods/search/Скульптуры" class="uk-button uk-button-text">Скульптуры</a>
                    </li>
                    <li class="uk-active">
                        <a href="/creators/goods/search/Подушки" class="uk-button uk-button-text">Подушки</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="uk-nav uk-nav-secondary uk-nav-left uk-margin-auto-vertical">
            <p style="margin: 0px"> Регион <b>Москва</b></p>
            <a href="/login" class="uk-button uk-button-text" style="text-transform: none; font-size: medium;">Стать
                партнером</a>
        </ul>
    </div>
</div>
<!-- end of navbar submenu -->
{% endif %}