{% for product in products %}


        <div class="box-footer">
            <div style="width:238px;height:443px; margin: auto;">
            <img src="../../media/{{product.picture}}" width="238px" height="343px" alt="" >
            
            <div class="box-down">
                    <h3 style="font-size:25px; font-weight:bold; margin: 0;">{{product.price}} ₽</h3>
                    <p class="star">
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
						<strong>&star;</strong>
					</p>
                    <p style="font-size:15px; margin: 0;">{{product.product_name}}</p>
            </div>
            <div class="box-down-drop">
                <div style="margin: auto;" class="box-down-drop-img">
                    <p style="margin: 0;" class="">{{product.brand}}</p>
                </div>
                <div style="margin: auto;" class="box-down-drop-img">
                    <img src="http://127.0.0.1:8000/media/images/default.png" width="30px" height="30px" alt="">
                </div>
            </div>
            </div>
            
        </div>

{% endfor %}

<style>
    
    .box-down-drop {
        width: 238px;
        height: 35px;
        display: flex;
        transition: 0.8s;
        
    }

    .box-down-drop-img {
        visibility: hidden;
        transition: 0.2s;
    }

    .box-footer:hover .box-down-drop-img {
        visibility: visible;
        transition: 0.8s;
        transform: translateY(-100%);
        animation: ani 1s forwards;
    }

    @keyframes ani {
        0% {transform: translateY(-150%);}
        100% {transform: translateY(0);}
    }

    .box-footer:hover .box-down-drop {
        width: 238px;
        height: 35px;
        display: flex;
        background-color: rgba(204, 204, 204, 0.151);
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        transition: 0.8s;


    }
    .box-down {
        width: 238px;
        height: 100px;
        padding: 5px;
    }

    .box-footer {
        transition: 0.8s;
        width: 250px;
        height: 443px;
        border-radius: 2%;
    }

    .box-footer:hover {
        transition: 0.8s;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);;
        width: 250px;
        height: 484px;
        border-radius: 2%;
        
    }
    p.star{
        width: 100%;
        font-size: 20px;
        color: #808080;
        margin: 0;
		}

</style>


</body>

<script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit-icons.min.js"></script>