{% extends "base.html" %}

{% block content %}



<style>
    #main-img {
        height: 30em;
        background-color: #cccccc;
        background-image: url({{profile.bgImage}});
        background-repeat: none;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        justify-content: left;
        border-bottom: 1px solid;
    }
</style>




<div id="main-img">
    <div class="uk-width-4-5 uk-flex uk-flex-left" style="margin: 0 auto;">
        <div class="uk-width-4-5 uk-flex uk-flex-middle uk-flex-between"
            style="margin: 0 auto; padding: 0; border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: white;">
            <div class="uk-flex uk-flex-middle">
                <img class="" width="300" src="{{profile.logoImage}}" style="border-top-left-radius: 5px;">
            </div>
            <div class="uk-flex uk-flex-middle" style="padding: 0">
                <h1 class="uk-card-title uk-margin-remove-bottom uk-padding-small uk-text-truncate"
                    style=" font-size: 5em; text-transform:uppercase;">{{profile.name}}</h1>
            </div>

        </div>
    </div>
</div>

<div class="uk-section" style="margin: 0 auto;">
    <h2 class="uk-width-4-5" style="margin: 0 auto; font-size: 3em;">О бренде</h2>
    <p class="uk-text-break uk-width-4-5"
        style="margin: 0 auto; padding: 5%; border-left: 2px solid; border-right: 2px solid; font-size: 1.8em;">
        {{profile.description}}</p>
</div>
<div class="uk-section uk-width-4-5 uk-grid-column-small uk-grid-row-large uk-child-width-1-2 uk-text-center"
    style="margin: 0 auto;" uk-grid>
    <!-- start of card -->
    {% for item in products %}
    <div class="uk-card uk-card-default" style="box-shadow: none;">
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top uk-text-center">
                <img src="{{item.picture1}}" width="200" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-text-truncate" style="font-size: 2em">{{ item.product_name }}</h3>
                <p style="font-size: 2em"> Цена: {{ item.show_price }} ₽</p>
                <p style="font-size: 1.8em">
                    <label>Наличие: </label> {{ item.amount }}
                </p>
                <p class="card-text uk-text-break" style="font-size: 1.8em">{{item.description}}</p>
                <a href="../goods/{{ item.id }}" class="btn btn-primary" style="font-size: 1.8em">Посмотреть</a>
            </div>
        </div>

    </div>
    {% endfor %}
    <!-- end of card -->

</div>



{% endblock %}