{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/css/uikit.min.css" />
</head>

<div class="uk-flex uk-flex-center uk-margin-top">
    <div class="uk-card uk-card-default uk-width-1-3@m">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="d-flex flex-row bd-highlight mb-3">
                    <img class="uk-border-circle" width="150" height="150" src="{{ profile.cover.url }}">
                    <div class="d-flex flex-column bd-highlight mb-3" style="margin-left: 10%">
                        <div class="d-flex flex-row bd-highlight mb-3">
                            <h3 class="uk-card-title uk-margin-remove-bottom">{{ profile.first_name }}</h3>
                            <div style="margin-left: 2%"><span>&#9733</span><span>&#9733</span><span>&#9733</span><span>&#9733</span><span>&#9734</span></div>
                        </div>
                        <p class="uk-text-meta uk-margin-remove-top uk-text-break">{{ profile.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-card-body" style="padding: 10px">
            <div class="d-flex flex-column bd-highlight mb-3" style="margin-left: 10%">
                <h1 class="uk-text-meta uk-margin-remove-top uk-text-break">Компания: да</h1>
                <p class="uk-text-meta uk-margin-remove-top uk-text-break">О компании: -----------</p>
            </div>
        </div>
        <!--<div class="uk-card-footer">
            <p class="uk-text-meta uk-margin-remove-top">{{ profile.company_name }}</p>
        </div> -->
    </div>
</div>



{% for product in products %}
{% if profile.email == product.id_creator %}

<div class="card" style="width: 18rem;">
    <img src="{{ product.picture.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ product.product_name }}</h5>
        <p>
            <label>Наличие: </label> {{ product.availability }}
        </p>
        <label>Цена: </label>
        <div class="price">
            {{ product.cost }} ₽
        </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="cardProduct/{{ product.id }}" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

{% endif %}
{% endfor %}


<style>
    .tagOut {
        background-color: brown;
        border-radius: 10px;
        width: auto;
        margin: 0;
    }

    .contantM {
        width: 100%;
        height: 40%;
        padding: 10px;
    }

    .colorStarTrue {

        font-weight: 900;
        color: #f8ce0b;
    }
</style>


<script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit-icons.min.js"></script>
<script>
    $(function () {
        var xhr = new XMLHttpRequest()
        xhr.open('GET', 'baseProductCard ')
        xhr.onload = function () {

            console.log(xhr.response)
            $('#content').html(xhr.response)
        }
        xhr.send()
    });

    $('#showContent1').on('click', {
        title: 'Заголовок 1',
        content: 'Содержимое 1...'
    }, function (inBody) {

        var xhr = new XMLHttpRequest()
        xhr.open('GET', 'baseResumeCard')
        xhr.onload = function () {

            console.log(xhr.response)
            $('#content').html(xhr.response)
        }
        xhr.send()
    });

    $('#showContent2').on('click', {
        title: 'Заголовок 2',
        content: 'Содержимое 2...'
    }, function (inBody) {

        var xhr = new XMLHttpRequest()
        xhr.open('GET', 'baseProductCard')
        xhr.onload = function () {

            console.log(xhr.response)
            $('#content').html(xhr.response)
        }
        xhr.send()

    });
</script>


{% endblock %}