{% extends "base.html" %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>BeFreela</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/css/uikit.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

</head>

<style>
    #chatList li {
        margin: 5% auto;
    }

    #chatList li button {
        margin: 0 auto;
        border-bottom: 1px solid;
    }
</style>

<body>

    <div class="uk-panel uk-panel-scrallable">
        <ul class="uk-nav " id="chatList" style="height: 100%; width: 15%">
            {% if chats %}
            {% for chat in chats %}
            <li class="uk-active uk-flex uk-flex-center">
                <button type="button"
                    class="uk-width-4-5 uk-text-left uk-button uk-button-link Btn {{chat.chat_room}}">{{chat.first_name}}
                    {{chat.last_name}}</button>
            </li>
            {% endfor %}
            {% else %}
            <h2>У вас пока нет начатых бесед</h2>
            {% endif %}
        </ul>
    </div>
    <!-- <div id="MainWindowContainer" style="width: 100px; height: 100px;"></div> -->
    {% include "messanger.html" %}
    </div>

</body>

<script>
    var link = 0

    $('.Btn').on('click', {}, function (inBody) {
        // var xhr = new XMLHttpRequest()
        classes = $(this).attr('class').split(/\s+/)
        link = classes[classes.length - 1]
        console.log(link)
        localStorage.activeChat = link
        // xhr.open('GET', `/chat/${link}/`)
        // xhr.onload = function () {
        //     $('#MainWindowContainer').html(xhr.response)
        // }
        // xhr.send()
    });
</script>


{% endblock %}