{% extends "base.html" %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://avatars.mds.yandex.net/get-market_banners/1523118/4733548_4.09ad065ab7da3f95401400482b860252.jpg.4733548/orig" class="d-block w-100" alt="...">
    </div>
  </div>
</div>



<button id="showContent1">Резюме</button>
<button id="showContent2">Товар</button>

<div id="content"></div>

<script>
    
    $('#showContent1').on('click', {title:'Заголовок 1', content: 'Содержимое 1...'}, function(e){
      var output = '<b>'+e.data.title+': </b>' + e.data.content;
      $('#content').html({% include "baseResumeCard.html" %});
    });
    
    $('#showContent2').on('click', {title:'Заголовок 2', content: 'Содержимое 2...'}, function(e){
      var output = '<b>'+e.data.title+': </b>' + e.data.content;
      $('#content').html(output);
    });
    
</script>

{% endblock %}