{% extends "menu.html" %}

{% block content %}


<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Snippet - BBBootstrap</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <style>
        body {
            background: rgb(99, 39, 120)
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #BA68C8
        }

        .profile-button {
            background: rgb(99, 39, 120);
            box-shadow: none;
            border: none
        }

        .profile-button:hover {
            background: #682773
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

        .back:hover {
            color: #682773;
            cursor: pointer
        }

        .labels {
            font-size: 11px
        }

        .add-experience:hover {
            background: #BA68C8;
            color: #fff;
            cursor: pointer;
            border: solid 1px #BA68C8
        }
    </style>
</head>

<body oncontextmenu='return false' class='snippet-body'>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px"
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span class="font-weight-bold">тут будет имя
                    </span>
                    <span class="text-black-50">тут будетпочта</span>
                    <span> </span>
                </div>
            </div>
            <div id="main_change" class="col-md-8">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Настройки профиля</h4>
                        {% comment %} <div class="form-check form-switch"> {% endcomment %}
                            {% comment %} <label class="form-check-label" for="creatorSwitcher">Я создатель</label>
                            {% endcomment %}
                            {% comment %} <input class="form-check-input" style="margin" type="checkbox"
                                id="creatorSwitcher" onchange="isCreator()"> {% endcomment %}
                            {% comment %} </div> {% endcomment %}
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">Имя</label>
                            <input type="text" class="form-control" placeholder="имя" value=""></div>
                        <div class="col-md-6">
                            <label class="labels">Фамилия</label>
                            <input type="text" class="form-control" value="" placeholder="Фамилия"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Номер телефона</label>
                            <input type="text" class="form-control" placeholder="Номер телефона" value=""></div>
                        <div class="col-md-12">
                            <label class="labels">Город</label>
                            <input type="text" class="form-control" placeholder="Город" value=""></div>
                        <div class="col-md-12">
                            <label class="labels">Почта</label>
                            <input type="text" class="form-control" placeholder="Почта" value=""></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">Страна</label>
                            <input type="text" class="form-control" placeholder="Страна" value=""></div>
                        <div class="col-md-6">
                            <label class="labels">Город/Регион</label>
                            <input type="text" class="form-control" value="" placeholder="Город"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Загрузить фото</label>
                            <input id="fileupload" class="form-control" name="myfile" type="file" />
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Сохранить</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="display: none;" id="creator">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience">
                        <span>Настройки создателя</span>
                        <button class="btn btn-outline-success border rounded px-3 p-1" type="submit">
                            Сохранить
                        </button>
                    </div>
                    <br>
                    <div class="col-md-12">
                        <label class="labels">Сфера деятельности</label>
                        <input type="text" class="form-control" placeholder="" value="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div style="opacity: 0; width: 1px">asdasdasdasd</div>
    <script type='text/javascript'
        src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
    <script type='text/javascript' src=''></script>
    <script type='text/javascript' src=''></script>
    <script type='text/Javascript'></script>
</body>
<script>
    function isCreator() {

        if (!document.getElementById('creatorSwitcher').checked) {
            document.getElementById('creator').style.display = 'none';
            document.getElementById('main_change').className = ('col-md-8');
        } else {
            document.getElementById('main_change').className = ('col-md-5 border-right');
            document.getElementById('creator').style.display = 'inline-block';
        }
    } <script>
 {% endblock %}