{% extends "base.html" %} {% block content %}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>BeFreela</title>

</head>

<body>
<div class="uk-margin-large-left uk-flex">
    <div style="width: 20%">
            <div class="uk-margin-small-left">
                <h4 class="uk-margin-small-bottom">Электроника - Смартфоны</h4>
                <h2 class="uk-margin-medium-bottom uk-margin-small-top">Смартфоны</h2>
                <div class="textStyleHeaderRegion uk-margin-medium-bottom">
                    <input type="checkbox" value="value2" class="uk-margin-small-right">
                    <label>Мой регион</label>
                </div>
            </div>
            <div>
                <hr style="background-color: black; height: 3px; width: 80%">
                <div class="textStyleHeader textAll uk-margin-medium-bottom">
                    <p>Рейтинг продавца</p>
                    <div class="uk-margin-small-left">
                        <div>
                            <input type="checkbox" value="value1">
                            <label>от <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></label>
                        </div>
                        <div>
                            <input type="checkbox" value="value2">
                            <label>от <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></label>
                        </div>
                        <div>
                            <input type="checkbox" value="value1">
                            <label>от <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span></label>
                        </div>
                        <div>
                            <input type="checkbox" value="value2">
                            <label>Не важно</label>
                        </div>
                    </div>
                </div>
                <div class="textStyleHeader textAll uk-margin-medium-bottom">
                    <p>Цена</p>
                    <div class="uk-margin-small-left">
                        <input class="uk-input uk-margin-right" type="text" placeholder="от" style="width: 30%; border-radius: 5em; background-color: #C4C4C4; color: white">
                        <input class="uk-input" type="text" placeholder="до" style="width: 30%; border-radius: 5em; background-color: #C4C4C4; color: white">
                    </div>
                </div>
                <div class="textStyleHeader textAll uk-margin-medium-bottom">
                    <p>Срок изготовления</p>
                    <div class="uk-margin-small-left">
                        <div>
                            <input type="checkbox" value="value1">
                            <label>до 1го дня</label>
                        </div>
                        <div>
                            <input type="checkbox" value="value2">
                            <label>до 3ех дней</label>
                        </div>
                        <div>
                            <input type="checkbox" value="value1">
                            <label>до 1 недели</label>
                        </div>
                        <div>
                            <input type="checkbox" value="value2">
                            <label>до 1 месяца</label>
                        </div>
                        <div>
                            <input type="checkbox" value="value1">
                            <label>до 3ех месяцев</label>
                        </div>
                        <div>
                            <input type="checkbox" value="value1">
                            <label>более 1го года</label>
                        </div>
                    </div>
                </div>
                <div class="textStyleHeader textAll">
                    <p>Исполнитель</p>
                    <div class="uk-margin-small-left">
                        <div>
                            <input type="checkbox" value="value1">
                            <label>ИП</label>
                        </div>
                        <div>
                            <input type="checkbox" value="value1">
                            <label>ООО</label>
                        </div>
                    </div>
                </div>
            </div>
        <button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom">Применить</button>

    </div>


    <br>
    <br>
        <div id="content" class="uk-width-3-4" style="margin: 5% auto 0 auto" >
            {% include "baseProductCard.html" %}

        </div>
</div>

</body>

<style>
    .textStyleHeader p{
        font-family: 'Inter';
        font-size: 20px;
        font-style: normal;
        line-height: 15px;

    }
    .textStyleHeaderRegion label{
        font-family: 'Inter';
        font-size: 18px;
        font-style: normal;
        line-height: 15px;
        margin-bottom: 5px;
    }

    .textAll label {
        font-family: 'Inter';
        font-style: normal;
        font-size: 18px;
        margin-bottom: 5px;
    }
    .checked {
        color: orange;
    }
</style>
<script src="js/uikit-icons.min.js"></script>









{% endblock %}