{% extends "base.html" %}

{% block content %}


{% load static %}


<link rel="stylesheet" href="{% static "css/index.css" %}">
<link rel="stylesheet" href="{% static "js/index.js" %}">






<div class="uk-width-1" style="margin: auto;">
    <div class="uk-width-1 uk-grid-match uk-flex" style="height: 45vh">
        <div class="uk-width-1 uk-margin-right">
            <div class="uk-width-1 uk-background-cover"
                data-src="https://img.freepik.com/free-photo/young-person-wearing-hoodie-mockup_23-2149246123.jpg?w=1380&t=st=1667115336~exp=1667115936~hmac=2b0f3ec335471e4f3ee8cb94a11ecb33725a523699f8a07e789ac2c2cc7998c9"
                uk-img>
                <div class="whitefont" style="margin-left: 5%; margin-top: 5%; font-size: 2em;">
                    <p style="font-weight: 600; font-size: 2.6em;" class="uk-margin-medium-left">Одежда</p>
                    <p style="font-weight: 300; font-size: 1.3em;" class="uk-margin-medium-left">Не упусти свой шанс
                        порадовать <br> себя уикальной вещью <br> вместе с BeFreela</p>
                    <div style="margin: auto; margin-top: 5%;" class="uk-margin-medium-left">
                        <a class="uk-button uk-button-secondary uk-border-rounded" style="font-size: 1.3em; padding: 2%"
                            href="/goods/category/Clothing">Перейти
                            в каталог</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="width: 97%; margin: auto; padding-top: 5vh; font-size: 2em;">

    <div class="uk-grid-match uk-flex">

        <div class="uk-width-1">
            <div class="uk-flex-column">
                <a class="uk-link-reset" href="/goods/category/Shoes">

                    <div class="uk-background-cover" style="height: 25vh"
                        data-src="https://img.freepik.com/free-photo/white-canvas-sneakers-unisex-footwear-fashion_53876-106040.jpg?w=1380&t=st=1667115187~exp=1667115787~hmac=813e26b07d62e51adc5b14dcbb4156cc30eb80f1e3e5adf5609227d3b6546065"
                        uk-img>
                        <div class="whitefont" style="padding-top: 5% ;">
                            <p style="font-weight: 600; font-size: 2.625em; " class="uk-margin-large-left">Обувь</p>
                        </div>
                    </div>
                </a>

                <a class="uk-link-reset" href="/goods/category/Interior">
                    <div class="uk-flex" style="margin-top: 2vh">
                        <div style="margin-right: 2vh" style="height: 35vh" class="uk-width-1-2 uk-background-cover"
                            uk-img
                            data-src="https://img.freepik.com/free-photo/top-view-of-female-property-in-bag_155003-13992.jpg?w=1380&t=st=1667078448~exp=1667079048~hmac=7f9aef695ae0a4cf3627adc5afc4faeae96994cdde8bd91fde6a27a9cd947ce6">
                            <div class="whitefont uk-margin-top uk-text-center">
                                <p style="font-weight: 600; font-size: 1.8em;">Аксессуары</p>
                            </div>
                        </div>
                        <div style="height: 35vh" class="uk-width-1-2 uk-background-cover" uk-img
                            data-src="https://img.freepik.com/free-photo/modern-interior-with-home-items-coziness-and-comfort-at-home_169016-4973.jpg?w=1380&t=st=1667115266~exp=1667115866~hmac=018222fae5c49e5c5aa46dd8d8c917e8d898e5422a3c07ac95283f8b985f7766">
                            <div class="whitefont uk-margin-top uk-text-center">
                                <p style="font-weight: 600; font-size: 1.8em; ">Для дома</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <br>

    <div uk-slider>
        <ul class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-4@">


            <li class="uk-width-auto uk-margin-small-left">
                <a class="uk-button uk-button-default uk-border-rounded" style=" font-size: 1.2em" href="/goods/">Все
                    товары</button></a>
            </li>

            <li class="uk-width-auto uk-margin-small-left">
                <a class="uk-button uk-button-default uk-border-rounded" style=" font-size: 1.2em"
                    href="/goods/category/Clothing">Одежда</a>
            </li>

            <li class="uk-width-auto uk-margin-small-left">
                <a class="uk-button uk-button-default uk-border-rounded" style=" font-size: 1.2em"
                    href="/goods/category/Shoes">Обувь</a>
            </li>

            <li class="uk-width-auto uk-margin-small-left">
                <a class="uk-button uk-button-default uk-border-rounded" style=" font-size: 1.2em"
                    href="/goods/category/Bags">Сумки</a>
            </li>

            <li class="uk-width-auto uk-margin-small-left">
                <a class="uk-button uk-button-default uk-border-rounded" style=" font-size: 1.2em"
                    href="/goods/category/Interior">Интерьер</a>
            </li>

            <li class="uk-width-auto uk-margin-small-left">
                <a class="uk-button uk-button-default uk-border-rounded" style=" font-size: 1.2em"
                    href="/goods/category/Accessories">Аксессуары</a>
            </li>


        </ul>
    </div>


    <div class="uk-grid uk-margin-large-top">

        <div class="uk-width-1">
            <p class="uk-width-1" style="font-weight: 600; font-size: 2.25em; text-align: center;">↓ Популярные товары ↓
            </p>
        </div>


        <div class="uk-wrap uk-width-1">
            <div class="uk-grid uk-width-1" uk-grid style="margin-left: 2%;">

                {% for product in products_start %}

                <div class="uk-width-1-3" style="height: 30vh; margin: 0">
                    <a class="uk-link-reset" href="/goods/{{product.id}}">
                        <div class="uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
                            style="height: 70%; " uk-img data-src="{{product.picture1}}"></div>
                        <div>
                            <p style="font-weight: 300; font-size: 2em;"
                                class="uk-margin-small-left uk-margin-remove-bottom">{{ product.product_name }}</p>
                            <p style="font-weight: 300; font-size: 1.8em;"
                                class="uk-margin-small-left uk-margin-remove-top uk-margin-remove-bottom">
                                {{product.show_price}} ₽</p>
                        </div>
                    </a>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>


    <br>
    <hr>
    <br>

    <div class="uk-margin-large-top" tabindex="-1" uk-slider>
        <h1 class="uk-margin-medium-left" style="font-size: 2em;">Новые бренды</h1>


        <ul class="uk-slider-items uk-grid uk-margin-large-top" style="margin: auto">
            <li class="uk-width-1 uk-flex">

                {% for shop in shops %}

                <div style="height: 45vh; width: 32%; margin: 0">
                    <a class="uk-link-reset" href="/brands/{{shop.name}}">
                        <div class="uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
                            style="height: 70%; " uk-img data-src="{{shop.logoImage}}"></div>
                        <div class="uk-text-center">
                            <h1>{{shop.name}}</h1>
                        </div>
                    </a>
                </div>

                {% endfor %}

            </li>

        </ul>

        <a class="uk-position-center-left uk-margin-small-left uk-border-pill" href="#" style="color: #ccc;"
            uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-margin-small-right uk-border-pill " style="color: #ccc;" href="#"
            uk-slidenav-next uk-slider-item="next"></a>

    </div>


</div>


{% include "footer.html" %}


{% endblock %}