{% extends "base.html" %}

{% block content %}

<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="uk-navbar-container" uk-navbar
        style="position: relative; z-index: 980; padding: 0 10%; background-color: #f8f8f8 !important;">

        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    {% if tag %}
                    <h2>Posts tagged with "{{ tag.name }}"</h2>
                    {% endif %}
                    {% for item in submenu %}
                    {% if item.xpos == 'left' and item.position == 'out' %}
                    <a href="{{item.link}}">{{item.text}}</a>
                    {% endif %}
                    {% endfor %}
                    <div class="uk-navbar-dropdown uk-navbar-dropdown-width-4">
                        <div class="uk-navbar-dropdown-grid uk-child-width-1-5" uk-grid>
                            <div>
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    {% for tag in post.tags.all %}
                                    <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                                        {{ tag.name }}
                                    </a>
                                    {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- <div>
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    {% for item in submenu %}
                                    {% if item.xpos == 'left' and item.position == 'in' and item.link == "1" %}
                                    <li class="uk-active"><a href="#">{{item.text}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div>
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    {% for item in submenu %}
                                    {% if item.xpos == 'left' and item.position == 'in' and item.link == "2" %}
                                    <li class="uk-active"><a href="#">{{item.text}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div>
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    {% for item in submenu %}
                                    {% if item.xpos == 'left' and item.position == 'in' and item.link == "3" %}
                                    <li class="uk-active"><a href="#">{{item.text}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div>
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    {% for item in submenu %}
                                    {% if item.xpos == 'left' and item.position == 'in' and item.link == "4" %}
                                    <li class="uk-active"><a href="#">{{item.text}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div>
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    {% for item in submenu %}
                                    {% if item.xpos == 'left' and item.position == 'in' and item.link == "5" %}
                                    <li class="uk-active"><a href="#">{{item.text}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </li>
            </ul>

        </div>

        <div class="uk-navbar-center" style="width: 40%; margin: 0 auto; font-size: 25px;">

            <ul class="uk-navbar-nav" style="width: 100%;">
                <form class="uk-search uk-search-default" style="width: 100%;">
                    <a class="uk-search-icon-flip" type="submit" id="searchBtn" uk-search-icon></a>
                    <input class="uk-search-input" type="search" placeholder="Search" id="search_pole" onchange="red(this)" style="width: 100%;">
                </form>
            </ul>

        </div>

        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">
                {% for item in submenu %}
                {% if item.xpos == 'right' %}
                <li class="uk-active"><a href="{{item.link}}">{{item.text}}</a></li>
                {% endif %}
                {% endfor %}
            </ul>

        </div>

    </nav>
</div>

<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
    uk-slideshow="min-height: 300; max-height: 600; animation: push">

    <ul class="uk-slideshow-items">
        <li>
            <img src="https://avatars.mds.yandex.net/get-adfox-content/2804317/220422_market_1735978_5171730_1.a3a05e65f6b45e45941b3a3c64cbe95e.jpg/optimize.webp"
                alt="" uk-cover>
        </li>
        <li>
            <img src="https://avatars.mds.yandex.net/get-adfox-content/2804317/220411_market_1873907_5182900_1.e9b71f0ba8037f38fb09d63d5397b830.jpg/optimize.webp"
                alt="" uk-cover>
        </li>
        <li>
            <img src="https://avatars.mds.yandex.net/get-adfox-content/2765366/220324_market_1857084_5129081_1.e357cbf0ab96c29f46277d61c4f439bf.png/optimize.webp"
                alt="" uk-cover>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
        uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
        uk-slideshow-item="next"></a>

</div>



<div class="uk-section uk-section-default">
    <div class="uk-container">
        <h2>Скидки</h2>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
            <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-grid">

                {%for product in products %}

                <li>
                    <div class="uk-panel" style="color: black">
                        <a href="creators/goods/{{ product.id }}"
                            class="uk-display-inline-block uk-card uk-card-body uk-card-hover uk-link-toggle uk-width-medium">
                            <img src="{{ product.picture.url }}" width="1800" height="1200" alt="">
                            <h3 class="uk-card-title uk-text-truncate">{{ product.product_name }}</h3>
                            <p class="uk-text-truncate">{{ product.description }}</p>
                            <p>{{ product.cost }}</p>
                        </a>
                    </div>
                </li>

                {% endfor %}

            </ul>
            <a class="uk-position-center-left uk-position uk-hidden-hover" href="#" uk-slidenav-previous
                uk-slider-item="previous" style="color: black !important;"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                uk-slider-item="next" style="color: black !important;"></a>
        </div>
    </div>
</div>



<div class="uk-section uk-section-default">
    <div class="uk-container">

        <h2>Рекомендации для вас</h2>

        <div class="uk-grid-match uk-child-width-1-4@m" uk-grid>
            {%for product in products %}

            <div>
                <a href="creators/goods/{{ product.id }}"
                    class="uk-display-inline-block uk-card uk-card-body uk-card-hover uk-link-toggle uk-width-medium">
                    <img src="{{ product.picture.url }}" width="1800" height="1200" alt="">
                    <h3 class="uk-card-title uk-text-truncate">{{ product.product_name }}</h3>
                    <p class="uk-text-truncate">{{ product.description }}</p>
                    <p>{{ product.cost }}</p>
                    <!-- <a href='{{ product.id }}'
                                class="uk-button uk-button-primary uk-button-large uk-text-center uk-border-rounded uk-margin-top">Подробнее</a> -->
                </a>
            </div>

            {% endfor %}
        </div>
    </div>
</div>





<footer class="text-center text-lg-start bg-light text-muted">

    <!-- Section: Links  -->
    <br>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>BIZOPT
                    </h6>
                    <p>window.location.replace(...)
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Для покупателей
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Angular</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">React</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Vue</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Laravel</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Для партнеров
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Pricing</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Orders</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Контакты
                    </h6>
                    <p><i class="fas fa-home me-3"></i> Россия, Москва</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> +7 (234) 234 56 88</p>
                    <p><i class="fas fa-print me-3"></i> +7 (234) 234 56 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022:
        <a class="text-reset fw-bold" href="">BizOpt</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

<script type="text/javascript">
    function red(el){
        document.getElementById('searchBtn').href = "creators/goods/search/" + el.value;
        console.log( "creators/goods/search/" + el.value)
    }
</script>

{% endblock %}

