<nav class="uk-navbar-container" uk-navbar>

    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/">
                    <h1>BIZOPT</h1>
                </a></li>
            <!--            <li>-->
            <!--                <a href="#">Parent</a>-->
            <!--                <div class="uk-navbar-dropdown">-->
            <!--                    <ul class="uk-nav uk-navbar-dropdown-nav">-->
            <!--                        <li class="uk-active"><a href="#">Active</a></li>-->
            <!--                        <li><a href="#">Item</a></li>-->
            <!--                        <li><a href="#">Item</a></li>-->
            <!--                    </ul>-->
            <!--                </div>-->
            <!--            </li>-->
            <!--            <li><a href="#">Item</a></li>-->
        </ul>

    </div>
    <div class="uk-navbar-center">


        <form class="uk-search uk-search-default uk-search-navbar">
            <span uk-search-icon></span>
            <input class="uk-search-input" type="search" placeholder="Search">
        </form>
    </div>

    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">

            {% if user.is_authenticated %}
            {% for item in menu %}
            {% if item.text != user.email %}

            <li class="uk-active"><a href="{{ item.link }}">{{ item.text }}</a></li>

            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link active" aria-current="page" style="color: white;" href="{{ item.link }}">{{ item.text }}</a>-->
            <!--            </li>-->

            {% else %}

            {% if item.position == "out" %}


            <li>
                <a href="{{ item.link }}">{{item.text}}</a>

                <!--                <li><a class="nav-link active" aria-current="page" style="color: white;" href="accounts/login/">Войти</a></li>-->
                <div class="uk-navbar-dropdown">

                    {% endif %}
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        {% if item.position == "in"  %}
                        <li><a href="{{ item.link }}">{{ item.name }}</a></li>
                    </ul>
                </div>
                {% endif %}


                {% endif %}
            </li>
            {% endfor %}



            {% else %}

            {% for item in menu %}
            {% if item.text != user.email %}

            <li class="uk-active"><a href="{{ item.link }}">{{ item.text }}</a></li>

            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link active" aria-current="page" style="color: white;" href="{{ item.link }}">{{ item.text }}</a>-->
            <!--            </li>-->

            {% else %}




            <!--                <li><a class="nav-link active" aria-current="page" style="color: white;" href="accounts/login/">Войти</a></li>-->


            {% endif %}

            {% endfor %}


            {% endif %}




            <!--            <li class="uk-active"><a href="#">Active</a></li>-->
            <!--            <li>-->
            <!--                <a href="#">Parent</a>-->
            <!--                <div class="uk-navbar-dropdown">-->
            <!--                    <ul class="uk-nav uk-navbar-dropdown-nav">-->
            <!--                        <li class="uk-active"><a href="#">Active</a></li>-->
            <!--                        <li><a href="#">Item</a></li>-->
            <!--                        <li><a href="#">Item</a></li>-->
            <!--                    </ul>-->
            <!--                </div>-->
            <!--            </li>-->
            <!--            <li><a href="#">Item</a></li>-->

        </ul>

    </div>

</nav>
