<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/css/uikit.min.css" />

</head>


<body style="height: 100%;">


   

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit-icons.min.js"></script>


</body>

</html>

<!--
     <div class="uk-card uk-card-default uk-width-2-3 uk-border-rounded uk-margin uk-position-bottom"
        style="margin: 5% auto; height: 85%; ">

        <div class="uk-card-body uk-padding-small">

            начало текста продавца
            <div class="guest uk-grid-small uk-flex-bottom uk-flex-left" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="32" height="32"
                        src="https://getuikit.com/docs/images/avatar.jpg">
                </div>
                <div class="uk-width-auto ">
                    <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-rounded uk-width-2-3">
                        <p class="uk-margin-remove">Hey dude! Hey dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey
                            dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey
                            dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey
                            dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey dude!Hey
                            dude!Hey dude!Hey dude!Hey dude!Hey dude!</p>
                    </div>
                </div>
            </div>
            конец текста продавца

            начало моего текста
            <div class="me uk-grid-small uk-flex-bottom uk-flex-right uk-text-right" uk-grid>
                <div class="uk-width-auto">
                    <div class="uk-card uk-card-body uk-card-small uk-card-primary uk-border-rounded uk-width-2-3">
                        <p class="uk-margin-remove">Hi brow :) Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow
                            :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow
                            :)Hi
                            brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi
                            brow
                            :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow
                            :)Hi
                            brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)</p>
                    </div>
                </div>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="32" height="32"
                        src="https://getuikit.com/docs/images/avatar.jpg">
                </div>
            </div>
            конец моего текста

             начало моего текста
             <div class="me uk-grid-small uk-flex-bottom uk-flex-right uk-text-right" uk-grid>
                <div class="uk-width-auto">
                    <div class="uk-card uk-card-body uk-card-small uk-card-primary uk-border-rounded uk-width-2-3">
                        <p class="uk-margin-remove">Hi brow :) Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow
                            :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow
                            :)Hi</p>
                    </div>
                </div>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="32" height="32"
                        src="https://getuikit.com/docs/images/avatar.jpg">
                </div>
            </div>
            конец моего текста

            начало текста продавца
            <div class="guest uk-grid-small uk-flex-bottom uk-flex-left" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="32" height="32"
                        src="https://getuikit.com/docs/images/avatar.jpg">
                </div>
                <div class="uk-width-auto">
                    <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-rounded uk-width-2-3">
                        <p class="uk-margin-remove">
                            <p class="uk-margin-remove">Hi brow :) Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow
                                :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow :)Hi brow
                                :)Hi</p>
                        </p>
                    </div>
                </div>
            </div>
            конец текста продавца
        </div>

        <div class="uk-card-footer uk-padding-remove uk-position-bottom">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <a href="#" class="uk-icon-link uk-margin-small-left" uk-icon="icon: happy"></a>
                </div>
                <div class="uk-width-expand">
                    <div class="uk-padding-small uk-padding-remove-horizontal">
                        <textarea class="uk-textarea uk-padding-remove uk-border-remove" rows="1"
                            placeholder="Escreva a mensagem..."></textarea>
                    </div>
                </div>
                <div class="uk-width-auto">
                    <ul class="uk-iconnav uk-margin-small-right">
                        <li>
                            <a href="#" uk-icon="icon: image"></a>
                        </li>
                        <li>
                            <a href="#" uk-icon="icon: location"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
-->