{% extends "base.html" %} {% block content %}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>BeFreela</title>

</head>

<style>
    * {
        transition: 0.3s;
    }

    .uk-card-default {
        box-shadow: none;
    }
</style>

<body style="width: 100%; height: 100%;">
    <div style="width: 80%; margin: 0 auto;">
        <div class="uk-flex uk-flex-between uk-flex-middle uk-margin-medium-bottom">
            <h1 style="border-top: 1px solid #0a3644e6; padding: 5% 0;">Бренды</h1>
            <h3 class="uk-text-left uk-width-2-3 uk-text-light">Здесь ты можешь найти все бренды, которые продают у нас
                на площадке. В
                профиле бренда ты найдешь информацию и товары бренда</h3>
        </div>

        {% for item in brands %}
        <a href="/{{item.text}}">{{item.text}}</a>
        {% endfor %}

        <div class="uk-flex uk-flex-wrap uk-flex-wrap-middle uk-width-1" style="justify-content: center;">

            <a href="" class="uk-text-center uk-width-2-5" style="margin: 2%">
                <div class=" uk-inline-clip uk-transition-toggle" style="border: 3px solid black;" tabindex="0">
                    <img src="https://cdn1.flamp.ru/e56d2de8c4cd3239c75e9cc11540442f.jpg" alt="">
                    <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle"
                        style="background-color: #0a3644e6;height: 100%; width: 100%; margin: 0 auto; padding: 10%;">

                        <div class="uk-width-1">
                            <h2 style="color: white;" class="uk-article-title">Heading</h2>

                            <p style="color: white" class="uk-text-left uk-text-break">
                                qweqweqweqweqweqweqwewewwqweqweqweqweqweqweqwewewwqweqweqweqweqweqweqwewewwqweqweqweqweqweqweqwewewwqweqweqweqweqweqweqwewewwqweqweqweqweqweqweqwewewwqweqweqweqweqweqweqwewewwqweqweqweqweqweqweqwewewwqweqweqweqweqweqweqwewewwqweqweqweqweqweqweqweweww
                            </p>
                        </div>

                    </div>
                </div>
            </a>

        </div>

    </div>



    <footer class="text-center text-lg-start bg-light text-muted">

        <!-- Section: Links  -->
        <br>
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>BeFreela
                        </h6>
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Для покупателей
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Angular</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">React</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Vue</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Laravel</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Для партнеров
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Контакты
                        </h6>
                        <p><i class="fas fa-home me-3"></i> Россия, Москва</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            degtyarevea12@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> +7 925 574 1371</p>
                        <p><i class="fas fa-print me-3"></i> +7 925 574 1371</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2022:
            <a class="text-reset fw-bold" href="">BeFreela</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</body>



<script src="js/uikit-icons.min.js"></script>

{% endblock %}