{% extends "base.html" %} {% block content %}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>BizOpt</title>

</head>

<body>
    <!-- start of left menu -->

    <div class="uk-margin-large-left uk-margin-medium-top uk-flex">
        <div style="width: 20%">
            <div class="uk-margin-small-left">
                <h4 class="uk-margin-small-bottom">Электроника - Смартфоны</h4>
                <h2 class="uk-margin-medium-bottom uk-margin-small-top">Смартфоны</h2>
                <div class="textStyleHeaderRegion uk-margin-medium-bottom">
                    <input type="checkbox" value="value2" class="uk-margin-small-right">
                    <label>Мой регион</label>
                </div>
            </div>
            <div>
                <hr style="background-color: black; height: 3px; width: 80%">
                <div class="textStyleHeader textAll uk-margin-medium-bottom">
                    <p>Рейтинг продавца</p>
                    <div class="uk-margin-small-left">
                        <div>
                            <input type="checkbox" value="value1">
                            <label>от <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></label>
                        </div>
                        <div>
                            <input type="checkbox" value="value2">
                            <label>от <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span></label>
                        </div>
                        <div>
                            <input type="checkbox" value="value1">
                            <label>от <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span></label>
                        </div>
                        <div>
                            <input type="checkbox" value="value2">
                            <label>Не важно</label>
                        </div>
                    </div>
                </div>
                <div class="textStyleHeader textAll uk-margin-medium-bottom">
                    <p>Цена</p>
                    <div class="uk-margin-small-left">
                        <input class="uk-input uk-margin-right" type="text" placeholder="от"
                            style="width: 30%; border-radius: 5em; background-color: #C4C4C4; color: white">
                        <input class="uk-input" type="text" placeholder="до"
                            style="width: 30%; border-radius: 5em; background-color: #C4C4C4; color: white">
                    </div>
                </div>
                <div class="textStyleHeader textAll uk-margin-medium-bottom">
                    <p>Срок изготовления</p>
                    <div class="uk-margin-small-left">
                        <div>
                            <input type="checkbox" value="value1">
                            <label>до 1го дня</label>
                        </div>
                        <div>
                            <input type="checkbox" value="value2">
                            <label>до 3ех дней</label>
                        </div>
                        <div>
                            <input type="checkbox" value="value1">
                            <label>до 1 недели</label>
                        </div>
                        <div>
                            <input type="checkbox" value="value2">
                            <label>до 1 месяца</label>
                        </div>
                        <div>
                            <input type="checkbox" value="value1">
                            <label>до 3ех месяцев</label>
                        </div>
                        <div>
                            <input type="checkbox" value="value1">
                            <label>более 1го года</label>
                        </div>
                    </div>
                </div>
                <div class="textStyleHeader textAll">
                    <p>Исполнитель</p>
                    <div class="uk-margin-small-left">
                        <div>
                            <input type="checkbox" value="value1">
                            <label>ИП</label>
                        </div>
                        <div>
                            <input type="checkbox" value="value1">
                            <label>ООО</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of left menu -->
        <br>
        <br>
        <div id="content" class="row uk-padding-large" style="margin-top: 50px; width: 80%;">
            <div class="uk-card uk-card-default uk-grid-collapse" uk-grid>

            {% for creator in creators %}

                <div>
                    <div class="uk-card">
                        <div class="uk-card-header uk-flex uk-flex-middle" style="border: none;">
                            <div class="uk-cover-container" style="display: inline-block;">
                                <img src="../../media/{{creator.cover}}" alt="" uk-cover>
                                <canvas width="200" height="200"></canvas>
                            </div>
                            <div class="uk-margin-left" style="display: inline-block;">
                                <h2>{{creator.first_name}}</h2>
                                <span>3,2 &nbsp;</span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <br>
                                <br>
                                <p>
                                    <i class="fa fa-check uk-border-circle"
                                        style="padding: 5px; color: white; background-color: green;"></i>
                                    &nbsp; Проверенный пользователь</p>
                            </div>

                            <div class="uk-divider-vertical uk-margin-medium-left uk-margin-small-right"></div>

                            <div class="uk-margin-small-left">
                                <a class="uk-button uk-button-primary" href="">Посмотреть</a>
                                <br>
                                <h5>доступные регионы</h5>
                                <p class="uk-text-nowrap">Москва и Московская область Ближнее Подмосковье Украина</p>
                            </div>
                        </div>
                        <div class="uk-card-body" >
                            <div>
                                <img src="{{creator.email.userImage.url}}" alt="" width="120" style="margin: 2px 0;">
                                <img src="{{creator.email.userImage.url}}" alt="" width="120" style="margin: 2px 0;">
                                <img src="{{creator.email.userImage.url}}" alt="" width="120" style="margin: 2px 0;">
                                <img src="{{creator.email.userImage.url}}" alt="" width="120" style="margin: 2px 0;">
                                <br>
                                <img src="{{creator.email.userImage.url}}" alt="" width="120" style="margin: 2px 0;">
                                <img src="{{creator.email.userImage.url}}" alt="" width="120" style="margin: 2px 0;">
                                <img src="{{creator.email.userImage.url}}" alt="" width="120" style="margin: 2px 0;">
                                <img src="{{creator.email.userImage.url}}" alt="" width="120" style="margin: 2px 0;">
                            </div>
                            <br>
                            <br>

                        </div>
                        <div class="uk-card-footer" style="border: none;">
                            <h3>Образование и опыт</h3>
                            <br>
                            <div class="uk-width-1-4" style="display: inline-block;">
                                <p><b>Медсестра</b></p>
                                <p>3 года</p>
                            </div>

                            <div class="uk-width-1-4" style="display: inline-block;">
                                <p><b>Медсестра</b></p>
                                <p>3 года</p>
                            </div>

                            <div class="uk-width-1-4" style="display: inline-block;">
                                <p><b>Медсестра</b></p>
                                <p>3 года</p>
                            </div>

                            <div class="uk-width-1-4" style="display: inline-block;">
                                <p><b>Медсестра</b></p>
                                <p>3 года</p>
                            </div>

                            <div class="uk-width-1-4" style="display: inline-block;">
                                <p><b>Медсестра</b></p>
                                <p>3 года</p>
                            </div>

                            <div class="uk-width-1-4" style="display: inline-block;">
                                <p><b>Медсестра</b></p>
                                <p>3 года</p>
                            </div>

                            <div class="uk-width-1-4" style="display: inline-block;">
                                <p><b>Медсестра</b></p>
                                <p>3 года</p>
                            </div>
                        </div>
                        <hr class="uk-divider-large">
                    </div>
                </div>

            {% endfor %}
        </div>

        </div>
    </div>

</body>







<p class="uk-text-break">{{creator.description}}</p>
<p>{{creator.email}}</p>
<p>{{creator.cover}}</p>
<p>{{creator.description}}</p>
<p>{{creator.is_company}}</p>
<p>{{creator.company_name}}</p>
<p>{{creator.telegram}}</p>
<p>{{creator.vk}}</p>
<p>{{creator.whatsapp}}</p>
<p>{{creator.instagram}}</p>
<p>{{creator.tag}}</p>
<p>{{creator.published}}</p>
<style>
    .textStyleHeader p {
        font-family: 'Inter';
        font-size: 20px;
        font-style: normal;
        line-height: 15px;

    }

    .textStyleHeaderRegion label {
        font-family: 'Inter';
        font-size: 18px;
        font-style: normal;
        line-height: 15px;
        margin-bottom: 5px;
    }

    .textAll label {
        font-family: 'Inter';
        font-style: normal;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .checked {
        color: orange;
    }
</style>
<script src="js/uikit-icons.min.js"></script>

{% endblock %}