<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <title>BeFreela</title>
    <link href='' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/css/uikit.min.css" />

</head>


<style>
    body {
        background-color: #fff;
    }

    * {
        transition: 0.5s;
    }

    /* https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg */

    #header {
        background-image: url("https://i.ibb.co/tLr9MmH/profile-2-test-com.jpg");
        background-position: cover;
        background-size: cover;
        background-attachment: fixed;
        /* width: 100vw; */
        height: 100vh;
        z-index: -12;

    }

    #main {
        background-image: url("https://img.freepik.com/free-photo/pink-yellow-plain-background_53876-98329.jpg?t=st=1652779341~exp=1652779941~hmac=e981d67537ac437092d53be30a42979843c41fb650225a0c0fd8ef16942b460a&w=1380");
        background-position: cover;
    }

    #about_service li {
        list-style-type: "";
        font-size: 25px;
        padding-left: 10px;
        font-weight: 500;
        margin: 5px 0;
    }

    #about_service li::before {
        background: #f2f2f2;
    }

    #about_company {
        background-color: white;
    }

    .textM {

        text-transform: uppercase;
        font-family: Helvetica;
        font-size: 150px;
        color: #fff;
        font-weight: 700;
    }
    .textS {

        font-family: Helvetica;
        font-size: 30px;
        color: #fff;
    }

    img {
        height: inherit;
    }
/* TO AUTO SCROLL

    section {
        scroll-snap-align: start;
    }

    .container{
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        height: 100vh;
    } */

    .ml14 {
    font-weight: 200;
    font-size: 3.2em;
    }

    .ml14 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    }

    .ml14 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: rgb(10, 10, 10);
    transform-origin: 100% 100%;
    bottom: 0;
    }

    .ml14 .letter {
    display: inline-block;
    line-height: 1em;
    }
    
</style>

<body style="margin: auto" >
    <div class="container">


    <section>

        <div class="uk-inline" style="height: 100vh; width: 100vw; background: #0a3644;" >
            <!-- https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg -->
        
            <img src="https://i.ibb.co/qyHsWVq/bg-2-test-com.jpg" width="100%" height="100%" alt="">

            <div class="uk-position-bottom-center"><button class="uk-button" style="background-color: #B54F00; color:#f2f2f2;">Заполнить заявку</button><br><br></div>
            <div class="uk-position-top-center"><br><br><img src="../../../media/logoImage/logo.svg" alt="" style="padding-top: 15vh;"></div>
            <div class="uk-position-top-center"><br><br><br><img src="../../../media/logoImage/logo_text.svg" alt=""></div>


        
        </div>

    </section>

    <section>
        <div class="uk-inline" style="height: 100%; width: 100%;" onclick="animationLetters();">
        
            <div class="uk-position-top-center" id="secondDiv">
    

                <h1 class="ml14">
                    <span class="text-wrapper" >
                        <span class="letters">Вы ведете бизнес так,
                        как удобно вам!</span>
                        <span class="line"></span>
                    </span>
                </h1>

            </div>



                        <div class="uk-section uk-section-secondary uk-light" style="margin-top: 10vh; background-color: #0A3644;">
                            <div class="uk-container">
                        
                                <h3>Section Secondary</h3>
                        
                                <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                                    <div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                </div>
                        
                            </div>
                        </div>

            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
        
        </div>
        

    </section>


    <section>
        <div class="uk-inline" style="height: 100%; width: 100vw;">
    

        <div id="about_service">
                <div>
                    <div class="uk-card uk-card-default uk-card-large uk-card-body"
                        style="box-shadow: none; background: transparent; padding-left: 40px; display: flex; align-items: center; justify-content: left;">
                        <!-- <h1 class="uk-card-title uk-margin-remove" style="transform: rotate(-90deg); width: 50%; height: 10%; font-size: 8rem; float: left; text-align: center;">Мы</h1> -->
                        <h1 style="font-size: 120px;">Мы</h1>

                        <hr class="uk-divider-vertical">

                        <ul style="margin: 0">
                            <li><br>
                                <p class="uk-text-break">Помогаем найти клиентов</p>
                            </li>
    
                            <li><br>
                                <p class="uk-text-break">Продвигаем ваши товары</p>
                            </li>
    
                            <li><br>
                                <p class="uk-text-break">Следим за сохранностью доставки </p>
                            </li>
    
                            <li><br>
                                <p class="uk-text-break">Проводим безопасные оплаты</p>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="uk-padding-remove">
                    <div class="uk-card uk-card-default uk-card-large uk-card-body"
                        style="box-shadow: none; padding-right: 0px; display: flex; align-items: center; justify-content: left;">
                        <!-- <h1 class="uk-card-title uk-margin-remove"
                                style="transform: rotate(-90deg); width: 50%; height: 10%; font-size: 8rem; float: left; text-align: center;">
                                Вы</h1> -->
                        <h1 style="font-size: 120px;">Вы</h1>
                        
                        <hr class="uk-divider-vertical">

                        <ul style="margin: 0;">
                            <li><br>
                                <p class="uk-text-break">Выкладываете свои товары на платформе BeFreela</p>
                            </li>
    
                            <li><br>
                                <p class="uk-text-break">Гарантируете качество товаров</p>
                            </li>
    
                            <li><br>
                                <p class="uk-text-break">Обязуетесь соблюдать партнёрские соглашения </p>
                            </li>
    
                            <li><br>
                                <p class="uk-text-break">Следите за конфиденциальностью данных клиентов</p>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>

                </div>
                
                
                </section>


        <!-- <div id="about_company" class="uk-padding-large">
            <div>
    
    
                <article class="uk-article">
    
                    <p class="uk-text-lead uk-text-break"> Мы - маркетплейс российских брендов. Наша главная цель -
                        увеличение продаж товаров российских брендов и безопасной покупки уникальных продуктов, которая
                        позволяет покупателям заказать качественную дизайнерскую вещь, а владельцам бесплатно продвигать
                        свои магазины. Скорее присоединяйся к нашей дружной команде и проводи свои первые сделки.
                    </p>
    
                </article>
    
    
            </div>
        </div> -->

        <section>
            <div class="uk-section " style="height: 100%; ">

        <div id="collab" class=" uk-padding-large uk-light" style=" background-color: #0A3644;">
            <h1 class="uk-text-center">Условия Сотрудничества</h1>
            <div class="uk-flex uk-flex-wrap uk-flex-wrap-center uk-height-medium"
                style="justify-content: center; align-items: center;">
    
                <div style="width: 40%; margin: 0 10px;">
                    
                </div>
    
                <div style="width: 40%; margin: 0 10px;">
                    
                </div>
    
                <div style="width: 40%; margin: 0 10px;">
                    
                </div>
    
                <div style="width: 40%; margin: 0 10px;">
                    
                </div>
                <div>
                </div>
            </div>
        </div>
        
    </section>

    <section>
        <div class="uk-width-1" style="width: 80%; margin: 0 auto;">
            <div>
                <p class="uk-text-lead">
                    Если вы хотите узнать подробности или оставить заявку на размещение на платформе, пожалуйста, заполните форму ниже или
                    свяжитесь удобным вам способом:
                </p>
            </div>

            <br>

            <div style="display: flex;">
                <div class="uk-light uk-background-secondary uk-padding">

                    <p style="margin: auto;">
                        Будем рады ответить на все ваши вопросы
                    </p>
                    <h3 class="uk-text-larg">befreela@mail.ru</h3>


                </div>
                
                <hr class="uk-divider-vertical">
  


                <p style="margin: auto;">
                    Мы рассмотрим каждое предложение и ответим вам в течение 2 дней.

                    Давайте работать вместе
                </p>
            </div>
        </div>
    </section>

    <hr>
    
    <section>

        <br>
        <br>



        <div class="uk-width-1" style="margin: 0 auto; display: flex;">

            <div class="uk-width-1-3@s" style="width: 60vw; height:40vh;
            background-image: url(../../../media/logoImage/logo.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            ">
                
            </div>

            <div class="uk-width-2-3@s" style="width: 40vw;">

                <form class="uk-form-horizontal uk-margin-large">

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">Название бренда</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-blank uk-form-width-large" id="form-horizontal-text" type="text" placeholder=".................................." style="box-shadow: 1px;">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">Имя</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-blank uk-form-width-large" id="form-horizontal-text" type="text" placeholder=".................................." style="box-shadow: 1px;">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">Телефон</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-blank uk-form-width-large" id="form-horizontal-text" type="text" placeholder=".................................." style="box-shadow: 1px;">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">Город</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-blank uk-form-width-large" id="form-horizontal-text" type="text" placeholder=".................................." style="box-shadow: 1px;">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">Ссылки на соц сети</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-blank uk-form-width-large" id="form-horizontal-text" type="text" placeholder=".................................." style="box-shadow: 1px;">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">Расскажите о бренде и его создателях</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-blank uk-form-width-large" id="form-horizontal-text" type="text" placeholder=".................................." style="box-shadow: 1px;">
                        </div>
                    </div>

                    <br>
                    <br>

                    <button class="uk-button uk-button-secondary uk-width-1-2" type="submit">Отправить</button>

                
                
                </form>
            </div>


    </div>


    </section>


{% include "footer.html" %}
    </div>

</body>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit-icons.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

<script>

   function animationLetters() {

        var textWrapper = document.querySelector('.ml14 .letters');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({ loop: true })
            .add({
                targets: '.ml14 .line',
                scaleX: [0, 1],
                opacity: [0.5, 1],
                easing: "easeInOutExpo",
                duration: 900
            }).add({
                targets: '.ml14 .letter',
                opacity: [0, 1],
                translateX: [40, 0],
                translateZ: 0,
                scaleX: [0.3, 1],
                easing: "easeOutExpo",
                duration: 800,
                offset: '-=600',
                delay: (el, i) => 150 + 25 * i
            }).add({
                targets: '.ml14',
                opacity: 0,
                duration: 1000,
                easing: "easeOutExpo",
                delay: 1000
            });

        };
    
    animationLetters();

</script>


</html>