<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <title>BeFreela</title>
    <link href='' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/css/uikit.min.css" />

</head>
<style>
    * {
        transition: 0.5s;
    }

    #header {
        background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg");
        background-position: cover;
    }

    #main {
        background-image: url("https://img.freepik.com/free-photo/pink-yellow-plain-background_53876-98329.jpg?t=st=1652779341~exp=1652779941~hmac=e981d67537ac437092d53be30a42979843c41fb650225a0c0fd8ef16942b460a&w=1380");
        background-position: cover;
    }

    #about_service li {
        list-style-type: "";
        font-size: 25px;
        padding-left: 10px;
        font-weight: 500;
        margin: 5px 0;
    }

    #about_service li::before {
        background: #f2f2f2;
    }

    #about_company {
        background-color: white;
    }
</style>

<body style="margin: auto" onload="showNotification('{{user.is_inwaiting}}')">
    <section style="padding: 0 10px" clss="uk-card-body" id="header">
        <nav uk-sticky="start: 200; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark"
            class="uk-navbar-container" uk-navbar style="color: black; padding: 0 5%; border-bottom-left-radius: 10px; border-bottom-left-radius: 10px">
            <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="/">
                            <h1 class="uk-margin-remove">BeFreela</h1>
                        </a></li>
                </ul>

            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#about_company">О компании</a></li>
                    <li class="uk-active"><a href="#about_service">О сервисе</a></li>
                    <li class="uk-active"><a href="#collab">Сотрудничество</a></li>
                </ul>
            </div>
        </nav>

        <div class="uk-flex uk-flex-center uk-align-center uk-flex-column uk-margin-large-bottom">
            <div class="uk-width-2-3" style="margin: 0 auto">
                <div class="uk-text-center">
                    <h2>Сотрудничество с BeFreela</h2>
                </div>
                <div class="uk-card uk-card-default uk-border-rounded" style="width: 50%; margin: 0 auto; padding: 3%;">
                    <div class="uk-card-header" style="border:none;">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-text-center uk-text-bold uk-text-break">Добро пожаловать в
                                    партнерскую программу BeFreela</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1 uk-text-center">
                        <br>
                        <form method="POST">
                            {% csrf_token %}
                            <!-- <a href="https://befreela.partners.ru/" class="uk-width-1 uk-button uk-button-secondary uk-border-rounded" style="margin: 0 auto; font-size: large;background-color: purple">Зарегестрироваться</a> -->
                            <div class="uk-card-body" style="padding-bottom: 0px; padding-top: 2%; text-align: center">
                                <label for="phonenumber" class="uk-text-muted">Контактный телефон</label>
                                <div class="uk-inline uk-width-1">
                                    <select class="uk-select uk-width-1-6@s" id="phoneCode"
                                        style="padding: 0 0 0 4%; background-image: none;"
                                        onchange="validateCountry(this)">
                                        <option value="+7">+7</option>
                                        <option value="+375">+375</option>
                                        <option value="+996">+996</option>
                                        <option value="+374">+374</option>
                                    </select>

                                    <input class="uk-input uk-border-rounded uk-width-3-5@s" id="phoneNumber"
                                        name="phonenumber" type="text" placeholder="(000) 000 00 00">

                                    <select class="uk-select uk-width-1-6@s" id="Country"
                                        style="padding: 0 0 0 5%; background-image: none;"
                                        onchange="validatePhoneCode(this)">
                                        <option value="Россия" default>🇷🇺</option>
                                        <option value="Казахстан">🇰🇿</option>
                                        <option value="Беларусь">🇧🇾</option>
                                        <option value="Киргизия">🇰🇬</option>
                                        <option value="Армения">🇦🇲</option>
                                    </select>
                                </div>
                                <div class="uk-flex uk-flex-center uk-align-center" style="margin-top: 20px">
                                    <button type="submit" onclick="showNotification(true)"
                                        class="uk-button uk-button-primary uk-width-4-5 uk-border-rounded"
                                        id="registerBtn" disabled>Отправить заявку</button>
                                </div>
                            </div>

                        </form>

                    </div>

                    <div id="modal-close-outside" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <button class="uk-modal-close-outside" type="button" uk-close></button>
                            <h2 class="uk-modal-title">Подтверждение</h2>
                            <form method="POST" action="">
                                <p>На ваш номер телефона был отправлен шестизначный код,<br> введите его в поле ниже</p>
                                <input maxlength="6" class="uk-input uk-border-rounded" id="codePhone"
                                    style="width: 50%;" name="code" type="text" placeholder="000000"
                                    onkeyup="this.value = this.value.replace(/[^\d]/g,'');">
                                {% csrf_token %}
                                <p class="">
                                    <button type='button' id="codeButton"
                                        class="uk-button uk-button-primary uk-border-rounded" disabled>Отправить
                                        код</button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

    </section>

    <section>
        <div class="uk-width-1" style="width: 80%; margin: 0 auto;">
            <div>
                <p class="uk-text-lead">
                    Если вы хотите узнать подробности или оставить заявку на размещение на платформе, пожалуйста, заполните форму ниже или
                    свяжитесь удобным вам способом:
                </p>
            </div>

            <br>

            <div style="display: flex;">
                <div class="uk-light uk-background-secondary uk-padding">

                    <p style="margin: auto;">
                        Будем рады ответить на все ваши вопросы
                    </p>
                    <h3 class="uk-text-larg">befreela@mail.ru</h3>


                </div>
                
                <hr class="uk-divider-vertical">
  


                <p style="margin: auto;">
                    Мы рассмотрим каждое предложение и ответим вам в течение 2 дней.
                </p>
            </div>
        </div>
    </section>

    <hr>
    
    <section>

        <br>
        <br>



        <div class="uk-width-1" style="margin: 0 auto; display: flex;">

            <div class="uk-width-1-3@s" style="width: 60vw; height:40vh;
            background-image: url(../../../media/logoImage/logo.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            ">
                
            </div>

            <div class="uk-width-2-3@s" style="width: 40vw;">

                <form class="uk-form-horizontal uk-margin-large">

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">Название бренда</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-blank uk-form-width-large" id="form-horizontal-text" type="text" placeholder=".................................." style="box-shadow: 1px;">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">Имя</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-blank uk-form-width-large" id="form-horizontal-text" type="text" placeholder=".................................." style="box-shadow: 1px;">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">Телефон</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-blank uk-form-width-large" id="form-horizontal-text" type="text" placeholder=".................................." style="box-shadow: 1px;">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">Город</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-blank uk-form-width-large" id="form-horizontal-text" type="text" placeholder=".................................." style="box-shadow: 1px;">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">Ссылки на соц сети</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-blank uk-form-width-large" id="form-horizontal-text" type="text" placeholder=".................................." style="box-shadow: 1px;">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">Расскажите о бренде и его создателях</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-form-blank uk-form-width-large" id="form-horizontal-text" type="text" placeholder=".................................." style="box-shadow: 1px;">
                        </div>
                    </div>

                    <br>
                    <br>

                    <button class="uk-button uk-button-secondary uk-width-1-2" type="submit">Отправить</button>

                
                
                </form>
            </div>


    </div>


    </section>


{% include "footer.html" %}

</body>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit-icons.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

<script>
    // $(function () {
    //     $("#codePhone").on("keyup", function () {
    //         if ($("#codePhone").val().length === 6) {
    //             $("#codeButton").prop("disabled", false);
    //         } else {
    //             $("#codeButton").prop("disabled", true);
    //         }
    //     });
    // });

    // $(document).on('click', 'a[href^="#"]', function (event) {
    //     event.preventDefault();

    //     $('html, body').animate({
    //         scrollTop: $($.attr(this, 'href')).offset().top
    //     }, 500);
    // });

    // function validateCountry(el) {
    //     let flag = document.getElementById('Country');
    //     let code = el.value;
    //     if (code == "+374") {
    //         flag.value = "Армения";
    //     } else if (code == "+375") {
    //         flag.value = "Беларусь";
    //     } else if (code == "+996") {
    //         flag.value = "Киргизия";
    //     } else {
    //         flag.value = "Россия";
    //     }
    //     console.log(flag.value, code)

    // }

    // function validatePhoneCode(el) {
    //     let code = document.getElementById('phoneCode');
    //     let flag = el.value
    //     if (["Россия", "Казахстан"].includes(flag)) {
    //         code.value = "+7";
    //     } else if (flag == "Беларусь") {
    //         code.value = "+375";
    //     } else if (flag == "Киргизия") {
    //         code.value = "+996";
    //     } else {
    //         code.value = "+374";
    //     }
    //     console.log(code.value, flag)
    // }


    // const isNumericInput = (event) => {
    //     const key = event.keyCode;
    //     return ((key >= 48 && key <= 57) || // Allow number line
    //         (key >= 96 && key <= 105) // Allow number pad
    //     );
    // };

    // const isModifierKey = (event) => {
    //     const key = event.keyCode;
    //     document.getElementById('registerBtn').disabled = true;
    //     return (event.shiftKey === true || key === 35 || key === 36) || // Allow Shift, Home, End
    //         (key === 8 || key === 9 || key === 13 || key === 46) || // Allow Backspace, Tab, Enter, Delete
    //         (key > 36 && key < 41) || // Allow left, up, right, down
    //         (
    //             // Allow Ctrl/Command + A,C,V,X,Z
    //             (event.ctrlKey === true || event.metaKey === true) &&
    //             (key === 65 || key === 67 || key === 86 || key === 88 || key === 90)
    //         )
    // };

    // const enforceFormat = (event) => {
    //     // Input must be of a valid number format or a modifier key, and not longer than ten digits
    //     document.getElementById('registerBtn').disabled = true;
    //     if (!isNumericInput(event) && !isModifierKey(event)) {
    //         event.preventDefault();
    //     }
    // };

    // const formatToPhone = (event) => {
    //     document.getElementById('registerBtn').disabled = true;
    //     if (isModifierKey(event)) {
    //         return;
    //     }

    //     const input = event.target.value.replace(/\D/g, '').substring(0, 10); // First ten digits of input only
    //     const areaCode = input.substring(0, 3);
    //     const middle = input.substring(3, 6);
    //     const last1 = input.substring(6, 8);
    //     const last2 = input.substring(8, 10);

    //     if (input.length > 9) {
    //         document.getElementById('registerBtn').disabled = false;
    //         event.target.value = `(${areaCode}) ${middle} ${last1} ${last2}`;
    //     } else if (input.length > 6) {
    //         event.target.value = `(${areaCode}) ${middle} ${last1} ${last2}`;
    //         document.getElementById('registerBtn').disabled = true;
    //     } else if (input.length > 3) {
    //         document.getElementById('registerBtn').disabled = true;
    //         event.target.value = `(${areaCode}) ${middle}`;
    //     } else if (input.length > 0) {
    //         document.getElementById('registerBtn').disabled = true;
    //         event.target.value = `(${areaCode}`;
    //     }
    // };


    // function showNotification(el) {
    //     console.log(el)
    //     if (el == "True") {
    //         Swal.fire(
    //             'Ваша заявки принята',
    //             'Поздравляю! Вы успешно стали партнером BeFreela. Теперь Вы можете публиковать свои товары',
    //             'success'
    //         )
    //         document.getElementsByClassName('swal2-confirm')[0].addEventListener('click', function () {
    //             localStorage.page = 3
    //             window.location.replace('/becomeCreator')
    //         });
    //     }
    // }


    // const inputElement = document.getElementById('phoneNumber');
    // inputElement.addEventListener('keydown', enforceFormat);
    // inputElement.addEventListener('keyup', formatToPhone);
</script>

</html>