<!doctype html>
<html>

<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>BeFreela</title>
	<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.10/dist/css/uikit.min.css" />
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</head>
<style>
	* {
		trasform: 0.5s;
	}
</style>

<body style="margin: 0 auto;">
	<div class="container" style="margin-top: 5%">
		<h1 style="font-size:30px; text-align: center; ">Добро пожаловать в</h1>
		<h1 style="text-align: center; margin-top: 2%">BeFreela</h1>
		<div style="margin:auto; border: solid black 2px; border-radius: 10px" class="uk-width-3-5@m">
			<div class="uk-flex">
				<button id="signin"
					style="border-bottom: solid black 2px; border-right: solid black 1px; border-top-left-radius: 10px; outline: none;"
					class="uk-button uk-button-default uk-width-1-2 uk-margin-remove" type="button">Вход</button>
				<button id="signup"
					style="border-bottom: solid black 2px; border-left: solid black 1px; border-top-right-radius: 10px;outline: none;"
					class="uk-button uk-button-default uk-width-1-2 uk-margin-remove" type="button">Регистрация</button>
			</div>
			<form method="POST" id="signup-form" style="display: none; text-align: center; margin: 0 auto"
				class="uk-widht-4-5@m">
				{% csrf_token %}
				<h3 style="text-align: center; margin-top: 5%">Регистрация</h3>
				<div class="inputs" style="margin: 0 auto">
					<div class="uk-flex uk-flex-center uk-text-center">
						<div class="uk-width-1-2" style="margin: 0 1%">
							<label>Почта</label>
							{{form.email}}
						</div>

						<div class="uk-width-1-2" style="margin: 0 1%">
							<label>Имя</label>
							{{form.first_name}}
						</div>
					</div>
					<br>
					<div class="uk-flex uk-flex-center uk-text-center">
						<div class="uk-width-1-2" style="margin: 0 1%">
							<label>Пароль</label>
							{{form.password1}}
						</div>
						<div class="uk-width-1-2" style="margin: 0 1%">
							<label>Повторите пароль</label>
							{{form.password2}}
						</div>
					</div>
				</div>
				<br>
				<label><input onclick="check(this)" class="uk-checkbox" type="checkbox"> При регистрации вы соглашаетесь
					со всеми пунктами <a href="/documents">документов</a> «Оферта» и «Политика конфиденциальности».
				</label>
				<button class="uk-button uk-button-secondary uk-width-1-2 uk-margin" id="signinbtn" type="submit"
					name="btnform1">Зарегестрироваться</button>
			</form>
			<form method="POST" id="signin-form" class="uk-text-center uk-width-4-5" style="margin: 0 auto">
				{% csrf_token %}
				<h3 style="text-align: center; margin-top: 5%">Войти</h3>
				<div style="margin:auto">
					<div class="uk-flex-column inputs uk-margin-medium-bottom">
						<label>Почта</label>
						<input type="text" name="email" class="uk-input uk-border uk-border-rounded"
							placeholder="email@mail.com">
					</div>
					<div class="uk-flex-column inputs">
						<label>Пароль</label>
						<input type="password" name="password" placeholder="Password..."
							class="uk-input uk-border uk-border-rounded">
					</div>
				</div>
				<br>

				<button class="uk-button uk-button-secondary uk-width-1-2 uk-margin" type="submit" name="btnform2" id="btnform2"
					disabled>Войти</button>

			</form>

		</div>
	</div>
	</div>


</body>

<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'>
</script>
<script>
	function check(el) {
		if (el.checked) {
			document.getElementById('btnform1').removeAttribute("disabled");
		} else {
			document.getElementById('btnform1').setAttribute("disabled", "disabled");
		}
	}

	$('.pswdChecker').on('input', function (event) {
		pswd1 = $('#password1');
		pswd2 = $('#password2');
		if ((pswd1.val() != pswd2.val()) && (pswd1.length < 8 || pswd2.length < 8)) {
			pswd1.css('border-color', 'red')
			pswd2.css('border-color', 'red')
			$('#signinbtn').attr('disabled', 'disabled')
		} else {
			pswd1.css('border-color', 'green')
			pswd2.css('border-color', 'green')
			$('#signinbtn').attr('disabled', false)
		}
	})

	$(document).ready(function () {
		$("#signup").click(function () {
			$("#signin-form").css("display", "none");
			$("#signup-form").css("display", "");
		});

		$("#signin").click(function () {
			$("#signup-form").css("display", "none");
			$("#signin-form").css("display", "");
		});
	});
</script>

</html>