{% extends "base.html" %}

{% block content %}
<body style="width: 80%; margin: auto; margin-top: 7%">
<div class="uk-flex">
    <div style="margin-left: 15%;" class="uk-margin">
        <div class=" uk-margin-medium-top uk-margin-medium-bottom" style="">
            <h2 class=" uk-margin-large-right">Мои задачи</h2>
            <h4 class="uk-margin-small-top">Здесь вы можете разместить или отредактировать ваши задачи</h4>
        </div>
        <ul uk-accordion="multiple: true" style=" max-width: 80%">
            {% for item in tasks %}
                <li style="width: 100%" class="uk-open">
                    <a class="uk-accordion-title"  href="#">
                        <div style=" background-color:  rgba(69, 101, 232, 0.34);">
                            <div class="uk-flex">
                                <h3 style="margin-left: 5%; margin-top: 2%">{{ item.name }}</h3>
                                <h3 style="margin-left: auto; margin-right: 5%; margin-top: 2%">22.06.22</h3>
                            </div>
                        </div>
                    </a>
                    <div class="uk-accordion-content" style="border: 2px solid rgba(69, 101, 232, 0.43);">
                        <div class="uk-flex-column" style="margin: 3%">
                            <div class="uk-flex uk-margin-small-bottom">
                                <div style="width: 50%; margin-right: 10%">
                                    <h4>Описание</h4>
                                    <p>{{ item.description }}</p>
                                </div>
                                <div style="margin-right: 10%">
                                    <h4>Стоимость</h4>
                                    <p>{{ item.price }}</p>
                                </div>
                                <div>
                                    <h4>Статус</h4>
                                    <p>{{ item.status }}</p>
                                </div>
                            </div>
                            <div class="uk-flex uk-margin-small-bottom">
                                <div style="width: 34%; margin-right: 26%">
                                    <h4>Дата завершения</h4>
                                    <p>{{ item.time }}</p>
                                </div>
                                <div>
                                    <h4>Контакты исполнителя</h4>
                                    <p>pochta@mail.ru</p>
                                </div>
                            </div>
                            <div>
                                <a href="#" style="padding: 1% 3% 1% 3%; background-color: #2D3995; margin-right: 3%; border-radius: 5px; color: white">Редактировать</a>
                                <a href="#" style="padding: 1% 3% 1% 3%; background-color: #FF1A1A; border-radius: 5px; color: white">Закрыть задачу</a>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="uk-flex-column" style="height: auto; max-width: 50%; min-width: 20%; background-color: #C4C4C4; margin-left:auto;">
        <div style="margin-top: 10%">
            <a href="#" class="uk-button" style="background-color: #E5E5E5; display: block;  text-align:center">Мои задачи</a>
        </div>
        <div style="margin-top: 2%">
            <a href="#" class="uk-button" style="background-color: #E5E5E5; display: block;  text-align:center">Создать</a>
        </div>
        <div style="margin-top: 2%">
            <a href="#" class="uk-button" style="background-color: #E5E5E5; display: block;  text-align:center">Чаты</a>
        </div>
</div>
</div>
</body>

{% endblock %}

<!--<div class="d-grid gap-2 col-6 mx-auto">-->
<!--    <h1>Ваши открытые задачи</h1>-->

<!--&lt;!&ndash;    <button class="btn btn-primary" type="button" onclick="return location.href = 'addTask/' ">Создать задачу</button>&ndash;&gt;-->

<!--        <ul uk-accordion>-->
<!--    <li class="uk-open">-->
<!--        <a class="uk-accordion-title" href="#">Item 1</a>-->
<!--        <div class="uk-accordion-content">-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--        </div>-->
<!--    </li>-->
<!--    <li>-->
<!--        <a class="uk-accordion-title" href="#">Item 2</a>-->
<!--        <div class="uk-accordion-content">-->
<!--            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>-->
<!--        </div>-->
<!--    </li>-->
<!--    <li>-->
<!--        <a class="uk-accordion-title" href="#">Item 3</a>-->
<!--        <div class="uk-accordion-content">-->
<!--            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>-->
<!--        </div>-->
<!--    </li>-->
<!--</ul>-->

<!--    {% for task in tasks %}-->


<!--        <div class="contextBx">-->
<!--            <div class="lable">{{ task.name }}</div>-->
<!--            <div class="content">-->
<!--                <div class="progress">-->

<!--                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%">в работе</div>-->

<!--                </div>-->

<!--                <dl class="row" style="margin-top: 2%">-->
<!--                  <dt class="col-sm-3">Описание</dt>-->
<!--                  <dd class="col-sm-9">{{ task.description }}</dd>-->

<!--                  <dt class="col-sm-3">Цена</dt>-->
<!--                  <dd class="col-sm-9">-->
<!--                    <div class="price">-->
<!--                        {{ task.price }} ₽-->
<!--                    </div>-->

<!--                    <span class="badge rounded-pill bg-success">Оплачено</span>-->

<!--                    <span class="badge rounded-pill bg-danger">Не оплачено</span>-->
<!--                  </dd>-->

<!--                  <dt class="col-sm-3">Контакты продавца</dt>-->
<!--                  <dd class="col-sm-9">This definition is short, so no extra paragraphs or anything.</dd>-->

<!--                </dl>-->
<!--                <div class="d-grid gap-2 d-md-block">-->
<!--                    <a class="btn btn-primary" href="editTask/{{ task.id }}" role="button">Редактировать</a>-->
<!--                    <a class="btn btn-primary" href="infoTask/" role="button">Информация</a>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->

<!--    {% endfor %}-->
<!--        </div>-->



<!--<script>-->
<!--    -->
<!--    const accordion = document.getElementsByClassName-->
<!--    ('contextBx');-->
<!--    -->
<!--    for (i = 0; i<accordion.length; i++){-->
<!--        accordion[i].addEventListener('click', function(){-->
<!--            this.classList.toggle('active')-->
<!--        })-->
<!--    }-->



<!--</script>-->

<!--<style>-->
<!--    .accordion {-->
<!--        width: auto;-->
<!--    }-->

<!--    .accordion .contextBx {-->
<!--        position: relative;-->
<!--        margin: 10px 20px;-->
<!--    }-->
<!--    -->
<!--    .accordion .contextBx .lable{-->
<!--        position: relative;-->
<!--        padding: 10px;-->
<!--        background: #2694af;-->
<!--        color: #fff;-->
<!--        cursor: pointer;-->
<!--    }-->
<!--    -->
<!--    .accordion .contextBx.active .lable:before{-->
<!--        content: '-';-->
<!--    }-->
<!--    -->
<!--    .accordion .contextBx .lable:before{-->
<!--        content: '+';-->
<!--        position: absolute;-->
<!--        top: 50%;-->
<!--        right: 20px;-->
<!--        transform: translateY(-50%);-->
<!--        font-size: 1.5em;-->
<!--    }-->
<!--    .accordion .contextBx .content{-->
<!--        position: relative;-->
<!--        background: #ccc;-->
<!--        height: 0;-->
<!--        overflow: hidden;-->
<!--        transition: 0.5s;-->
<!--        overflow-y: auto;-->
<!--    }-->
<!--    .accordion .contextBx.active .content{-->
<!--        height: 200px;-->
<!--        padding: 10px;-->
<!--    }-->
<!--    -->

<!--</style>-->


